<!-- 定义顶部的页面布局 -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>柏岁网</title>
	
	<!-- 引入Bootstrap的css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- 引入jQuery -->
	<script src="/js/jquery.min.js"></script>

	<!-- 引入Bootstrap的js文件 -->
	<script src="/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<!-- 定义导航部分 -->
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					柏岁网
				</a>
			</div>

			<ul id="headernav" class="nav navbar-nav">
				<li data-tab="index"><a href="/?tab=index">首页</a></li>
				<li data-tab="news"><a href="/news?tab=news">新闻</a></li>
				<li data-tab="xuexi"><a href="/xuexi?tab=xuexi">学习</a></li>
				<li data-tab="huodong"><a href="/huodong?tab=huodong">活动</a></li>
				<li data-tab="health"><a href="/health?tab=health">健康</a></li>
			</ul> 
		</nav>
	</div>
