<% include layouts/header %>
	<!-- 引入CSS -->
	<link rel="stylesheet" href="/css/chd_6.css">

	<div id="top-nav"><br>
		<p>你当前的位置:学习</p><br>
		<span class="gkk">公开课</span>
		<div id="lun">
			<ul>
				<li class="active"><img src="/imgs/chd_lun0.png" alt=""></li>
				<li><img src="/imgs/chd_lun01.png" alt=""></li>
				<li><img src="/imgs/chd_lun02.png" alt=""></li>
				<li><img src="/imgs/chd_lun03.png" alt=""></li>
				<li><a style="display:block" href="/study/?tab=study"><img src="/imgs/chd_lun04.png" alt=""></a></li>
			</ul>
			<div id="list-circle">
				<ul>
					<li class="list-active"><img src="/imgs/chd_lun0.png" alt=""></li>
					<li><img src="/imgs/chd_lun01.png" alt=""></li>
					<li><img src="/imgs/chd_lun02.png" alt=""></li>
					<li><img src="/imgs/chd_lun03.png" alt=""></li>
					<li><img src="/imgs/chd_lun04.png" alt=""></li>
				</ul>
			</div>
		</div>
		<div class="left">
			<div class="left-top">
				<span class="sn">热门排行</span>
				<span style="margin-left:20px;">最新课程</span>
			</div>
			<div class="left-content">
				<ul>
					<li><span style="background:#FF5A6E;border:none;">01</span>&nbsp; 如何掌控你的自由时间<p>139.5万</p><img src="/imgs/chd_aqy.png" alt=""></li>
					<li><span style="background:#FF5A6E;border:none;">02</span>&nbsp; 爱情应有的样子<p>75.40万</p><img src="/imgs/chd_aqy.png" alt=""></li>
					<li><span style="background:#FF5A6E;border:none;">03</span>&nbsp; 提升自信的技巧<p>40.40万</p><img src="/imgs/chd_aqy.png" alt=""></li>
					<li><span><img src="/imgs/chd_le1.png" alt=""></span>&nbsp; 请求的艺术<p>139.5万</p><img src="/imgs/chd_aqy.png" alt=""></li>
					<li><span><img src="/imgs/chd_le2.png" alt=""></span>&nbsp; 如何成为一个更好的交谈者<p>39.50万</p><img src="/imgs/chd_aqy.png" alt=""></li>
					<li><span><img src="/imgs/chd_le3.png" alt=""></span>&nbsp; 韩雪：积极的悲观主义者？<p>39.50万</p><img src="/imgs/chd_aqy.png" alt=""></li>
					<li><span><img src="/imgs/chd_le4.png" alt=""></span>&nbsp; 我的儿子时校园的枪手<p>39.50万</p><img src="/imgs/chd_aqy.png" alt=""></li>
					<li><span><img src="/imgs/chd_le5.png" alt=""></span>&nbsp; 从湖南到美国：书籍如何. . .<p>39.50万</p><img src="/imgs/chd_aqy.png" alt=""></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content">
		<p class="xb">小编推荐</p>
		<div class="nav-title">
			<span class="left-left">趣味课堂</span>
			<span>知识共享</span>
			<span>态度公开课</span>
		</div>
		<ul>
			<li style="margin-left:0px;"><a href="/study/xuexi_2/?tab=study"><img src="/imgs/chd_hd1.png" alt=""></a><p>惊心动魄的美</p>奇异与美妙</li>
			<li><a href="/study/xuexi_2/?tab=study"><img src="/imgs/chd_k3.png" alt=""></a><p>四海八荒在等你</p>四海八荒在向你招手！还等什么！快收拾行李出发！</li>
			<li><a href="/study/xuexi_2/?tab=study"><img src="/imgs/chd_k4.png" alt=""></a><p>好好生活，不管世界怎样凄凉</p>生活不可能像你想象得那么好，但绝不会像你想象的那么糟。</li>
		</ul>	
	</div>
	<div id="recommend">
		<div class="nav-title-2">
			<span style="margin-left:390px">清华大学</span>
			<span>北京大学</span>
			<span>哈佛大学</span>
			<span>牛津大学</span><br><br>
			<br><div class="left-nav">
				<a href="/study/xuexi_5/?tab=study"><img src="/imgs/chd_s1.png" alt=""></a>
				<p>新视觉的一战</p>
				<div><div></div></div>
				<span>40.00万</span>
			</div>
			<ul>
				<li>
					<a href="/study/xuexi_4/?tab=study"><img src="/imgs/chd_ul1.png" alt=""></a>
					<p>艺术史</p>
					<div><div></div></div>
					<span>45.3万</span>
				</li>
				<li>		
					<a href="/study/xuexi_4/?tab=study"><img src="/imgs/chd_ul2.png" alt=""></a>
					<p>艺术史</p>
					<div><div></div></div>
					<span>45.3万</span>
				</li><br>
				<li class="top">
					<a href="/study/xuexi_4/?tab=study"><img src="/imgs/chd_ul3.png" alt=""></a>
					<p>艺术史</p>
					<div><div></div></div>
					<span>40.0万</span>
				</li>
				<li class="top">
					<a href="/study/xuexi_4/?tab=study"><img src="/imgs/chd_ul4.png" alt=""></a>
					<p>艺术史</p>
					<div><div></div></div>
					<span>45.3万</span>
				</li>
			</ul>
		</div>
		<p>猜你喜欢</p>
	</div>
	<div id="guess-like">
		<ul>
			<li style="margin-left:0;">
				<img src="/imgs/chd_li1.png" alt="">
				<p>你的搜索记录出卖了你</p>
			</li>
			<li>
				<img src="/imgs/chd_li2.png" alt="">
				<p>耶鲁大学：聆听音乐</p>
			</li>
			<li>
				<img src="/imgs/chd_li3.png" alt="">
				<p>决定梦想距离的，是你的决心！</p>
			</li>
			<li>
				<img src="/imgs/chd_li4.png" alt="">
				<p>无信仰者</p>
			</li>
		</ul>
		<p>其他课程</p>
	</div>
	<div id="course">
		<div class="blue"><br>
			<span>国际名校公开课</span>
			<ul class="ull">
				<li><a href="/study/xuexi_2/?tab=study">演讲</a></li>
				<li><a href="/study/xuexi_2/?tab=study">政治</a></li>
				<li><a href="/study/xuexi_2/?tab=study">艺术</a></li>
				<li><a href="/study/xuexi_2/?tab=study">历史</a></li>
				<li><a href="/study/xuexi_2/?tab=study">语言</a></li>
			</ul>
			<ul class="ul">
				<li><a href="/study/xuexi_2/?tab=study">心里</a></li>
				<li><a href="/study/xuexi_2/?tab=study">经济</a></li>
				<li><a href="/study/xuexi_2/?tab=study">哲学</a></li>
				<li><a href="/study/xuexi_2/?tab=study">宗教</a></li>
				<li><a href="/study/xuexi_2/?tab=study">文学</a></li>
			</ul>
			<p><a href="/study/xuexi_2/?tab=study">共469门课程 ></a></p>
		</div>
		<div class="auto">
			<img src="/imgs/chd_ll1.png" alt="">
			<p>设计师，你是做什么的？</p>
			<div><div></div></div>
			<span>&nbsp; 87.7万</span>
		</div>
		<div id="img-right">
			<div class="img-top">
				<img src="/imgs/chd_ll2.png" alt="">
				<p>提升英语听力</p>
				<div><div></div></div><span>&nbsp; 110.04万</span>
			</div>
			<div class="img-top">
				<img src="/imgs/chd_ll3.png" alt="">
				<p>奥巴马的白宫岁月</p>
				<div><div></div></div><span>&nbsp; 110.04万</span>
			</div>
		</div>
	</div>
	<div id="course">
		<div class="blue"><br>
			<span>国际名校公开课</span>
			<ul class="ull">
				<li><a href="/study/xuexi_2/?tab=study">探索未知</a></li>
				<li><a href="/study/xuexi_2/?tab=study">舌尖美食</a></li>
				<li><a href="/study/xuexi_2/?tab=study">冷知识</a></li>
				<li><a href="/study/xuexi_2/?tab=study">探索未知</a></li>
				<li><a href="/study/xuexi_2/?tab=study">舌尖美食</a></li>
			</ul>
			<ul class="ul">
				<li><a href="/study/xuexi_2/?tab=study">动植物</a></li>
				<li><a href="/study/xuexi_2/?tab=study">视觉盛宴</a></li>
				<li><a href="/study/xuexi_2/?tab=study">植物特写</a></li>
				<li><a href="/study/xuexi_2/?tab=study">动植物</a></li>
				<li><a href="/study/xuexi_2/?tab=study">视觉盛宴</a></li>
			</ul>
			<p><a href="/study/xuexi_2/?tab=study">共469门课程 ></a></p>
		</div>
		<div class="auto">
			<img src="/imgs/chd_ll4.png" alt="">
			<p>设计师，你是做什么的？</p>
			<div><div></div></div>
			<span>&nbsp; 87.7万</span>
		</div>
		<div id="img-right">
			<div class="img-top">
				<img src="/imgs/chd_ll5.png" alt="">
				<p>饮食与营养</p>
				<div><div></div></div><span>&nbsp; 110.04万</span>
			</div>
			<div class="img-top">
				<img src="/imgs/chd_ll6.png" alt="">
				<p>直观的智慧</p>
				<div><div></div></div><span>&nbsp; 110.04万</span>
			</div>
		</div>
	</div>
	<div id="course">
		<div class="blue"><br>
			<span> 中国大学公开课</span>
			<ul class="ull">
				<li><a href="/study/xuexi_2/?tab=study">农林医药</a></li>
				<li><a href="/study/xuexi_2/?tab=study">基础科学</a></li>
				<li><a href="/study/xuexi_2/?tab=study">哲学历史</a></li>
			</ul>
			<ul class="ul">
				<li><a href="/study/xuexi_2/?tab=study">工程技术</a></li>
				<li><a href="/study/xuexi_2/?tab=study">经管法学</a></li>
				<li><a href="/study/xuexi_2/?tab=study">文学艺术</a></li>
			</ul>
			<p><a href="/study/xuexi_2/?tab=study">共469门课程 ></a></p>
		</div>
		<div class="auto">
			<img src="/imgs/chd_ll7.png" alt="">
			<p>设计师，你是做什么的？</p>
			<div><div></div></div>
			<span>&nbsp; 87.7万</span>
		</div>
		<div id="img-right">
			<div class="img-top">
				<img src="/imgs/chd_ll8.png" alt="">
				<p>室内花卉的装饰</p>
				<div><div></div></div><span>&nbsp; 110.04万</span>
			</div>
			<div class="img-top">
				<img src="/imgs/chd_ll9.png" alt="">
				<p>幸福与经济学</p>
				<div><div></div></div><span>&nbsp; 110.04万</span>
			</div>
		</div>
	</div>
	<div class="black">
		<p>加载更多</p>
	</div>
	<div class="kg"></div>
<% include layouts/footer %>
<script src="/js/chd_6.js"></script>	