<% include layouts/header %>
	<link rel="stylesheet" href="/css/chd_4.css">
	<div id="top-nav">
		<p>你当前的位置:学习</p>
	</div>
	<div id="logo">
		<img src="/imgs/chd_logo.png" alt="">
		<div class="img-content">
			<p>养生不用药</p>
			<ul>
				<li>分享到</li>
				<li>
					<img style="margin-left:10px;" src="/imgs/chd_w2.png" alt="">
					<img src="/imgs/chd_w1.png" alt="">
					<img src="/imgs/chd_q1.png" alt="">
				</li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div class="first">
			<div class="left">
				<p>饱含历史</p>
				<span>又饱经沧桑</span>
			</div>
			<p>像古人一样去看过去的人和事，一幕幕真实的剧集，原来历史是这样的。</p>
		</div>
		<div class="border"></div>
		<div class="list"><span>分集列表</span></div>
		<ul>
			<li style="margin-left:0px;">
				<p>[第1集]</p>
				<span>吕世浩:学历史的大用</span>
			</li>
			<li>
				<p>[第2集]</p>
				<span>权力的游戏与真实历史（上）</span>
			</li>
			<li>
				<p>[第3集]</p>
				<span>从林肯到特朗普--共和党的历史</span>
			</li>
		</ul>
		<ul>
			<li style="margin-left:0px;">
				<p>[第1集]</p>
				<span>吕世浩:学历史的大用</span>
			</li>
			<li>
				<p>[第2集]</p>
				<span>权力的游戏与真实历史（上）</span>
			</li>
			<li>
				<p>[第3集]</p>
				<span>从林肯到特朗普--共和党的历史</span>
			</li>
		</ul>
	</div>
	<div id="recommend">
		<div class="tj"><span>相关推荐</span></div><br>
		<ul>
			<li style="margin-left:0px;">
				<img src="/imgs/chd_01.png" alt="">
				<span>探寻西方历史的源头</span>
				<p>6集</p>
			</li>
			<li><img src="/imgs/chd_02.png" alt="">
				<span>漫漫自由路</span>
				<p>6集</p>
			</li>
			<li><img src="/imgs/chd_04.png" alt="">
				<span>看野史 涨姿势</span>
				<p>6集</p>
			</li>
			<li style="margin-left:0px;">
				<img src="/imgs/chd_d1.png" alt="">
				<span>猛人连连看</span>
				<p>6集</p>
			</li>
			<li><img src="/imgs/chd_d2.png" alt="">
				<span>梦回唐朝</span>
				<p>6集</p>
			</li>
			<li><img src="/imgs/chd_d3.png" alt="">
				<span>如果能穿越你想去哪里</span>
				<p>6集</p>
			</li>
		</ul>
	</div>
	<div class="comment">
		<p class="border"></p>
		<div class="comment-1">
			<span>评论专区</span>
		</div><br><br><br>
		<div class="input">
			<div class="right-input">
				<span>登陆并评论</span>
			</div>
			<div class="button">
				<button>分享</button>
				<button>举报</button>
			</div>
		</div>
	</div>
<% include layouts/footer %>