<% include layouts/header %>
	<!-- 引入CSS -->
	<link rel="stylesheet" href="/css/chd_3.css">
	<div id="top-nav"><br>
		<p>你当前的位置:学习</p><br>
		<ul>
			<li style="margin-left:0;border:none; height:250px;"><img style="height:100%;" src="/imgs/chd_k1.png" alt=""></li>
			<li class="box">
				<img src="/imgs/chd_k2.png" alt="">
					<p>给狗粮加点料</p>

					<span>来把世间真挚爱情的糖!</span>
			</li>
			<li class="box"><img src="/imgs/chd_k3.png" alt="">
				<p>四海八荒在等你</p>
				<span>终于放假了!四海八荒在向你招手！</span>
			</li>
			<li class="box"><img src="/imgs/chd_k4.png" alt="">
				<p>好好生活不管世界怎么荒凉</p>
				<span>生活不可能像你想得那么好,但绝不会像你想象得那么糟</span>
			</li>
		</ul>
	</div>
	<div id="top-nav">
		<ul style="margin-top:15px;">
			<li class="box" style="margin-left:0;border:none;">
					<img src="/imgs/chd_kk1.png" alt="">
					<p>中国人们解放军建军90周年</p>

					<span>历数中国人民解放军建军历程的经典战役，向解放军战士们致敬！!</span>
			</li>
			<li class="box">
				<img src="/imgs/chd_kk2.png" alt="">
					<p>我只要你活着</p>

					<span>我希望我不在你身边的时候，你可以有机警的头脑和逃生的能力!</span>
			</li>
			<li class="box"><img src="/imgs/chd_kk3.png" alt="">
				<p>女人这个物种</p>
				<span>可是她们认真起来，会吓你一跳！</span>
			</li>
			<li class="box"><img src="/imgs/chd_kk4.png" alt="">
				<p>迈向太空的又一步</p>
				<span>虽然前路布满荆棘，但我们仍对宇宙探索的未来充满美好的期待。</span>
			</li>
		</ul>
	</div>
	<div id="top-nav">
		<ul>
			<li style="margin-left:0;border:none; height:250px;"><img style="height:100%;" src="/imgs/chd_t1.png" alt=""></li>
			<li class="box">
				<img src="/imgs/chd_t2.png" alt="">
					<p>揭秘记忆宫殿里的奥秘</p>

					<span>都出去，我要开记忆宫殿了!</span>
			</li>
			<li class="box"><img src="/imgs/chd_t3.png" alt="">
				<p>喵星人秘事</p>
				<span>喵星人是一个矛盾体</span>
			</li>
			<li class="box"><img src="/imgs/chd_t4.png" alt="">
				<p>情圣：花心不是我的错</p>
				<span>男人为什么会出轨，主要是想要重新找回心跳的感觉</span>
			</li>
		</ul>
	</div>
	<div id="top-nav">
		<ul style="margin-top:15px;">
			<li class="box" style="margin-left:0;border:none;">
					<img src="/imgs/chd_g1.png" alt="">
					<p>呆萌特工</p>

					<span>看倒霉熊如何拯救人类!</span>
			</li>
			<li class="box">
				<img src="/imgs/chd_g2.png" alt="">
					<p>电影如何影响你的大脑</p>

					<span>电影会上瘾？!</span>
			</li>
			<li class="box"><img src="/imgs/chd_g3.png" alt="">
				<p>好工作</p>
				<span>你换过许多BOSS，你炒过许多鱿鱼</span>
			</li>
			<li class="box"><img src="/imgs/chd_g4.png" alt="">
				<p>我怪故我在裴小姐的奇幻城堡</p>
				<span>最强魔法来袭，《裴小姐的奇幻城堡》</span>
			</li>
		</ul>
	</div>
	<div id="top-nav">
		<ul>
			<li style="margin-left:0;border:none; height:250px;"><img style="height:100%;" src="/imgs/chd_z1.png" alt=""></li>
			<li class="box">
				<img src="/imgs/chd_z2.png" alt="">
					<p>WISE学习天地</p>

					<span>每周3个国家!</span>
			</li>
			<li class="box"><img src="/imgs/chd_z3.png" alt="">
				<p>方所'创作者现场'视频专区</p>
				<span>十年之间，在每个重大事件现场</span>
			</li>
			<li class="box"><img src="/imgs/chd_z4.png" alt="">
				<p>一佳创美</p>
				<span>探索新科技，紧跟国外热点问题</span>
			</li>
		</ul>
	</div>
	<div id="top-nav">
		<ul style="margin-top:15px;">
			<li class="box" style="margin-left:0;border:none;">
					<img src="/imgs/chd_a1.png" alt="">
					<p>奥巴马演讲专区</p>

					<span>清新俊美的外表，奥式特色的口音!</span>
			</li>
			<li class="box">
				<img src="/imgs/chd_a2.png" alt="">
					<p>理解未来</p>

					<span>未来论坛，网罗全球最新科技!</span>
			</li>
			<li class="box"><img src="/imgs/chd_a3.png" alt="">
				<p>张怡筠博士老年微课堂</p>
				<span>如何应对各种突发情况</span>
			</li>
			<li class="box"><img src="/imgs/chd_a4.png" alt="">
				<p>陈佩斯喜剧公开课</p>
				<span>陈佩斯将实现传道授业解惑的愿望</span>
			</li>
		</ul>
	</div>
<% include layouts/footer %>