<% include layouts/header %>
	<link rel="stylesheet" href="/css/chd_5.css">
	<div id="top-nav"><br>
		<p>你当前的位置:学习</p>
	</div><br><br>
	<div id="logo">
		<img src="/imgs/chd_logo5.png" alt="">
		<div class="auto">
			<img class="position" src="/imgs/c_1.png" alt="">
			<div class="content-span">
				<p>牛津大学</p>
				<span>牛津大学（University of Oxford）位于英国牛津市，是英语世界中最古老的大学。虽然牛津大学的确切创立日期仍不清楚，但其历史可大约追溯到十二世纪末，迄今约有900年。1209年，在牛津学生与镇民的冲突事件过后，一些牛津的学者迁离至东北方的剑桥镇，并成立剑桥大学。自此之后，两间大学彼此之间展开相当悠久的竞争岁月。</span>
			</div>
		</div>
	</div>
	<div id="content">
		<ul>
			<li style="margin-left:0px;">
				<img src="/imgs/chd_y1.png" alt="">
				<p>牛津大学公开课：伟大作家的启迪</p>
				<span>类型:文学</span>
			</li>
			<li>
				<img src="/imgs/chd_y2.png" alt="">
				<p>牛津大学公开课：尼采的心灵与自然</p>
				<span>类型:文学</span>
			</li>
			<li>
				<img src="/imgs/chd_y3.png" alt="">
				<p>牛津大学公开课:戴维·赫伯特·劳伦斯</p>
				<span>类型:文学</span>
			</li>
		</ul>
		<ul class="margin-top">
			<li style="margin-left:0px;">
				<img src="/imgs/chd_y4.png" alt="">
				<p>牛津大学公开课：艾滋病</p>
				<span>类型:文学</span>
			</li>
			<li>
				<img src="/imgs/chd_y5.png" alt="">
				<p>牛津大学公开课：伦理学入门</p>
				<span>类型:伦理</span>
			</li>
			<li>
				<img src="/imgs/chd_y6.png" alt="">
				<p>牛津大学公开课：爱情微讲座</p>
				<span>类型:伦理</span>
			</li>
		</ul>
		<ul class="margin-top">
			<li style="margin-left:0px;">
				<img src="/imgs/chd_y7.png" alt="">
				<p>牛津大学公开课：古英语</p>
				<span>类型:文学</span>
			</li>
			<li>
				<img src="/imgs/chd_y8.png" alt="">
				<p>牛津大学公开课：文学与形式</p>
				<span>类型:文学</span>
			</li>
			<li>
				<img src="/imgs/chd_y9.png" alt="">
				<p>王力宏牛津大学演讲：认识华流</p>
				<span>类型:文学</span>
			</li>
		</ul>
	</div>
	<div id="bottom">
		<div class="paging">
			<ul>
				<li style="background:#158FE1; border:none;	height:41px; margin-left:0px;"><a style=" color:white;" href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">></a></li>
			</ul>
		</div><br>
	</div><br>
	<div id="bottom-last">
		<ul>
			<li style="margin-left:0px;">
				<img src="/imgs/chd_bl1.png" alt="">
				<p>Gai Zong</p>
				<span>牛津大学继续教育学哲学<br>院研究主任</span>
			</li>
			<li>
				<img src="/imgs/chd_bl2.png" alt="">
				<p>Gai Zong</p>
				<span>牛津大学继续教育学哲学<br>院研究主任</span>
			</li>
			<li>
				<img src="/imgs/chd_bl3.png" alt="">
				<p>Gai Zong</p>
				<span>牛津大学继续教育学哲学<br>院研究主任</span>
			</li>
		</ul>
	</div><br><br>
<% include layouts/footer %>