<% include layouts/header %>
	<!-- 引入CSS -->
	<link rel="stylesheet" href="/css/chd_2.css">
	<div id="top-nav"><br>
		<p>你当前的位置:学习</p>
		<div class="top-nav-option">
			<div class="first">
				<div class="wz">
					<span>人文</span>
				</div>
				<ul>
					<li>文学</li>
					<li>语言</li>
					<li>哲学</li>
				</ul>
				<ul style="margin-top:3px;">
					<li>历史</li>
					<li>宗教</li>
					<li>艺术</li>
				</ul>
			</div>
			<div style="margin-left:60px; width:355px;" class="first">
				<div class="wz">
					<span>社会</span>
				</div>
				<ul style="width:275px">
					<li>经济</li>
					<li>政治</li>
					<li>法律</li>
					<li>地理</li>
					<li>教育</li>
				</ul>
				<ul style="width:275px">
					<li>心里</li>
					<li>管理</li>
					<li>传播</li>
					<li>社会</li>
					<li>演讲</li>
				</ul>
			</div>
			<div style="float:right; margin-right:25px; width:337px;" class="first">
				<div class="wz">
					<span>自然</span>
				</div>
				<ul style="width:275px">
					<li>经济</li>
					<li>政治</li>
					<li>法律</li>
					<li>地理</li>
					<li>教育</li>
				</ul>
				<ul style="width:275px">
					<li>地球科学</li>
					<li>计算机</li>
					<li>医院</li>
				</ul>	
			</div>
		</div>
		<div class="heart">
			<div class="left-heart">
				<span>心里</span>
				<p>psychology</p>
			</div>
				<ul>
					<li>
						<img src="/imgs/chd_wn1.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn2.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn3.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn4.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li style="margin-right:0px;">
						<img src="/imgs/chd_wn5.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<ul>
					<li style="margin-left:0px;">
						<img src="/imgs/chd_wn6.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn7.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn8.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn9.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn10.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
									<li>
						<img src="/imgs/chd_wn11.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<div class="bottom-bm">
					<span>查看更多v</span>
				</div>
		</div>
	</div>
	<div id="top-nav" style="height:370px">
		<div class="heart">
			<div class="left-heart">
				<span>语言</span>
				<p>psychology</p>
			</div>
				<ul>
					<li>
						<img src="/imgs/chd_wn12.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn13.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn14.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn15.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li style="margin-right:0px;">
						<img src="/imgs/chd_wn16.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<ul>
					<li style="margin-left:0px;">
						<img src="/imgs/chd_wn17.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn18.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn19.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn20.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn21.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
									<li>
						<img src="/imgs/chd_wn22.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<div class="bottom-bm">
					<span>查看更多v</span>
				</div>
		</div>
	</div>
	<div id="top-nav" style="height:370px">
		<div class="heart">
			<div class="left-heart">
				<span>文学</span>
				<p>psychology</p>
			</div>
				<ul>
					<li>
						<img src="/imgs/chd_wn23.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn24.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn25.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn26.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li style="margin-right:0px;">
						<img src="/imgs/chd_wn27.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<ul>
					<li style="margin-left:0px;">
						<img src="/imgs/chd_wn28.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn29.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn30.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn31.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn32.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
									<li>
						<img src="/imgs/chd_wn33.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<div class="bottom-bm">
					<span>查看更多v</span>
				</div>
		</div>
	</div>
	<div id="top-nav" style="height:370px">
		<div class="heart">
			<div class="left-heart">
				<span>政治</span>
				<p>psychology</p>
			</div>
				<ul>
					<li>
						<img src="/imgs/chd_wn34.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn35.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn36.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn37.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li style="margin-right:0px;">
						<img src="/imgs/chd_wn38.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<ul>
					<li style="margin-left:0px;">
						<img src="/imgs/chd_wn39.png" alt="">
						<div>共24集已更新16集</div>
						<p>哈佛大学《领袖心理学》</p>
					</li>

					<li>
						<img src="/imgs/chd_wn40.png" alt="">
						<div>共24集已更新16集</div>
						<p>梨花大学《少年心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn41.png" alt="">
						<div>共24集已更新16集</div>
						<p>加利福尼《社会心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn42.png" alt="">
						<div>共24集已更新16集</div>
						<p>CrashCourse《心理学》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn44.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
					<li>
						<img src="/imgs/chd_wn45.png" alt="">
						<div>共24集已更新16集</div>
						<p>牛津大学《读写障碍》</p>
					</li>
				</ul>
				<div class="bottom-bm">
					<span>查看更多v</span>
				</div>
		</div>
	</div><br>	<br>
<% include layouts/footer %>