<!-- 首页 -->
<% include layouts/header %>
<<<<<<< HEAD


=======
	<link rel="stylesheet" href="/css/lb_index.css">
	<script src="/js/lb_index.js"></script>
	<div id="main">
		<!-- banner轮播图 -->
		<div id="banner">
			<ul id="bannerImg">
				<li class="bannerImg bannerImgActive"><a href="javascript:;"><img src="/imgs/lb_banner1.png" alt=""></a></li>
				<li class="bannerImg"><a href="javascript:;"><img src="/imgs/lb_banner2.png" alt=""></a></li>
				<li class="bannerImg"><a href="javascript:;"><img src="/imgs/lb_banner3.png" alt=""></a></li>
				<li>
					<img class="visibility" src="/imgs/lb_banner1.png" alt="">
					<ul id="circle">
						<li class="circleActive"></li>
						<li></li>
						<li></li>
					</ul>
				</li>
				<li>
					<img class="visibility" src="/imgs/lb_banner1.png" alt="">
					<div id="left"><img src="/imgs/lb_banner_left.png" alt=""></div>
					<div id="right"><img src="/imgs/lb_banner_right.png" alt=""></div>
				</li>
			</ul>
		</div>
		<img class="visibility" src="/imgs/lb_banner1.png" alt="">
		<!-- 活动简介 -->
		<div id="concrete">
			<!-- 活动 -->
			<div class="plate">
				<div class="title">
					<h3>柏岁活动·活百岁</h3>
					<p>由柏岁网官方组织发起的老年人旅游月活动正式揭幕，欢迎大家踊跃参与！</p>
				</div>
				<ul class="specific">
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_active_1.png" alt="">
							<p>老年登山活动，我们还可以这样放肆。</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_active_2.png" alt="">
							<p>欧洲游，走走我们年轻时没有去过的地方。</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_active_3.png" alt="">
							<p>人说家乡好风光活动，到处走走原来我们生活的地方这么美！</p>
						</a>
					</li>
				</ul>
			</div>
			<!-- 关注 -->
			<div class="plate">
				<div class="title">
					<h3>柏岁关注·天下事</h3>
					<p>家事国事天下事，事事关心。实时焦点推送，足不出户看世界！</p>
				</div>
				<ul class="specific">
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_fllow_1.png" alt="">
							<p>时尚</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_fllow_2.png" alt="">
							<p>生活</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_fllow_3.png" alt="">
							<p>体育</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_fllow_4.png" alt="">
							<p>个性推荐</p>
						</a>
					</li>
				</ul>
				<a href="javascript:;">查看更多&nbsp;>></a>
			</div>
			<!-- 学堂 -->
			<div class="plate">
				<div class="title">
					<h3>柏岁学堂·学到老</h3>
					<p>专为老年人设立的学习板块，可以让老人继续学习！</p>
				</div>
				<ul class="specific">
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_study_1.png" alt="">
							<p>为构建和谐社区，保护居民的切身利益，进一步提高辖区居民的自我防范意识，特别是老年人预防诈骗的能力。</p>
						</a>
					</li>
				</ul>
			</div>
			<!-- 娱乐 -->
			<div class="plate">
				<div class="title">
					<h3>柏岁娱乐·展风采</h3>
					<p>专为老年人展示自己的地方，可以通过投票和专家评审来竞争排行！</p>
				</div>
				<ul id="entertainment" class="specific">
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_entertainment_1.png" alt="">
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_entertainment_2.png" alt="">
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_entertainment_3.png" alt="">
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_entertainment_2.png" alt="">
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="/imgs/lb_entertainment_5.png" alt="">
						</a>
					</li>
				</ul>
			</div>
			<!-- 排行 -->
			<div class="plate">
				<div class="title">
					<h3>柏岁排行·柏岁榜</h3>
					<p>专为老年人展示才艺的地方，可以通过投票和专家评审竞争排行！</p>
				</div>
				<ul id="rank" class="specific">
					<li>
						<ul>
							<li>
								<a href="javascript:;">
									<h3>
										<img src="/imgs/lb_rank_top.png" alt="">
										一杯敬自由占领了活跃封面
									</h3>
									<div></div>
									<!-- <img src="" alt="暂无图片"> -->
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span></span>
									<img src="/imgs/lb_rank_self.png" alt="">
									<div>
										<p>我自己<span>第36名</span></p>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>1</span>
									<img src="/imgs/lb_rank_bottom_1.png" alt="">
									<div>
										<h4>一杯敬自由</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>12998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>2</span>
									<img src="/imgs/lb_rank_bottom_2.png" alt="">
									<div>
										<h4>青睐者</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>3</span>
									<img src="/imgs/lb_rank_bottom_3.png" alt="">
									<div>
										<h4>柏岁大嗨</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>4</span>
									<img src="/imgs/lb_rank_bottom_4.png" alt="">
									<div>
										<h4>机车KING</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>5</span>
									<img src="/imgs/lb_rank_bottom_5.png" alt="">
									<div>
										<h4>太极达人</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="javascript:;">
									<h3>
										<img src="/imgs/lb_rank_top.png" alt="">
										一杯敬自由占领了活跃封面
									</h3>
									<div></div>
									<!-- <img src="" alt="暂无图片"> -->
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span></span>
									<img src="/imgs/lb_rank_self.png" alt="">
									<div>
										<p>我自己<span>第36名</span></p>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>2</span>
									<img src="/imgs/lb_rank_bottom_1.png" alt="">
									<div>
										<h4>一杯敬自由</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>12998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>2</span>
									<img src="/imgs/lb_rank_bottom_2.png" alt="">
									<div>
										<h4>青睐者</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>3</span>
									<img src="/imgs/lb_rank_bottom_3.png" alt="">
									<div>
										<h4>柏岁大嗨</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>4</span>
									<img src="/imgs/lb_rank_bottom_4.png" alt="">
									<div>
										<h4>机车KING</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>5</span>
									<img src="/imgs/lb_rank_bottom_5.png" alt="">
									<div>
										<h4>太极达人</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="javascript:;">
									<h3>
										<img src="/imgs/lb_rank_top.png" alt="">
										一杯敬自由占领了活跃封面
									</h3>
									<div></div>
									<!-- <img src="" alt="暂无图片"> -->
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span></span>
									<img src="/imgs/lb_rank_self.png" alt="">
									<div>
										<p>我自己<span>第36名</span></p>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>3</span>
									<img src="/imgs/lb_rank_bottom_1.png" alt="">
									<div>
										<h4>一杯敬自由</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>12998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>2</span>
									<img src="/imgs/lb_rank_bottom_2.png" alt="">
									<div>
										<h4>青睐者</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>3</span>
									<img src="/imgs/lb_rank_bottom_3.png" alt="">
									<div>
										<h4>柏岁大嗨</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>4</span>
									<img src="/imgs/lb_rank_bottom_4.png" alt="">
									<div>
										<h4>机车KING</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>5</span>
									<img src="/imgs/lb_rank_bottom_5.png" alt="">
									<div>
										<h4>太极达人</h4>
										<span>0 <img src="/imgs/lb_rank_start.png" alt=""></span>
										<span>2998</span>
									</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<img id="rankLeft" src="/imgs/lb_rankLeft.png" alt="">
				<img id="rankRight" src="/imgs/lb_rankRight.png" alt="">
			</div>
			<!-- 返回顶部 -->
			<div id="returnTop">
				<img src="/imgs/lb_returnTop.png" alt="">
				<p>返回顶部</p>
			</div>
		</div>
		<!-- 楼层 -->
		<ul id="floor">
			<li>
				<div>
					<div></div>
					<span>活&nbsp;动<em></em></span>
				</div>
			</li>
			<li>
				<div>
					<div></div>
					<span>关&nbsp;注<em></em></span>
				</div>
			</li>
			<li>
				<div>
					<div></div>
					<span>学&nbsp;堂<em></em></span>
				</div>
			</li>
			<li>
				<div>
					<div></div>
					<span>娱&nbsp;乐<em></em></span>
				</div>
			</li>
			<li>
				<div>
					<div></div>
					<span>排&nbsp;行<em></em></span>
				</div>
			</li>
		</ul>
	</div>
>>>>>>> 完成
<% include layouts/footer %>