<!-- 帮助 -->
<% include layouts/header %>
	<link rel="stylesheet" href="/css/lb_help.css">
	<script type="text/javascript" src="/js/lb_help.js"></script>
	<div id="main">
		<p>您当前的位置：帮助</p>
		<img src="/imgs/lb_helpTop.png" alt="">
		<div id="question">
			<h3>常见问题</h3>
			<div id="questionClass">
				<ul id="questionLeft">
					<li class="questionLeftBg">热点问题<em></em></li>
					<li>新手指南<em></em></li>
					<li>基本功能<em></em></li>
					<li>积分奖励<em></em></li>
					<li>柏岁管理<em></em></li>
				</ul>
				<ul class="questionLeft questionLeftShow">
					<li>
						<a href="javascript:;">1.如何修改资料？</a>
					</li>
					<li>
						<a href="javascript:;">2.如何查看和管理消息（站内信息）？</a>
					</li>
					<li>
						<a href="javascript:;">3.如何进入个人中心，它的作用是什么？</a>
					</li>
					<li>
						<a href="javascript:;">4.怎么编辑和删除自己发表的作品？</a>
					</li>
					<li>
						<a href="javascript:;">5.如何查看和竞争柏岁榜？</a>
					</li>
					<li>
						<a href="javascript:;">6.获得积分的途径？</a>
					</li>
					<li>
						<a href="javascript:;">7.如何收藏和管理您喜欢的礼物？</a>
					</li>
					<li>
						<a href="javascript:;">8.如何查看其它网友的各项资料？</a>
					</li>
					<li>
						<div id="page">
							<span id="first" href="javascript:;">首页</span>
							<a class="pageBg" href="javascript:;">1</a>
							<a href="javascript:;">2</a>
							<a href="javascript:;">3</a>
							<a href="javascript:;">4</a>
							<span id="next" href="javascript:;">下一页</span>
							<span id="tail" href="javascript:;">末页</span>
						</div>
					</li>
				</ul>
				<ul class="questionLeft">
					<li><a href="javascript:;">新手指南</a></li>
					<li>
						<div id="page">
							<span id="first" href="javascript:;">首页</span>
							<a class="pageBg" href="javascript:;">1</a>
							<a href="javascript:;">2</a>
							<a href="javascript:;">3</a>
							<a href="javascript:;">4</a>
							<span id="next" href="javascript:;">下一页</span>
							<span id="tail" href="javascript:;">末页</span>
						</div>
					</li>
				</ul>
				<ul class="questionLeft">
					<li><a href="javascript:;">基本功能</a></li>
					<li>
						<div id="page">
							<span id="first" href="javascript:;">首页</span>
							<a class="pageBg" href="javascript:;">1</a>
							<a href="javascript:;">2</a>
							<a href="javascript:;">3</a>
							<a href="javascript:;">4</a>
							<span id="next" href="javascript:;">下一页</span>
							<span id="tail" href="javascript:;">末页</span>
						</div>
					</li>
				</ul>
				<ul class="questionLeft">
					<li><a href="javascript:;">积分奖励</a></li>
					<li>
						<div id="page">
							<span id="first" href="javascript:;">首页</span>
							<a class="pageBg" href="javascript:;">1</a>
							<a href="javascript:;">2</a>
							<a href="javascript:;">3</a>
							<a href="javascript:;">4</a>
							<span id="next" href="javascript:;">下一页</span>
							<span id="tail" href="javascript:;">末页</span>
						</div>
					</li>
				</ul>
				<ul class="questionLeft">
					<li><a href="javascript:;">柏岁管理</a></li>
					<li>
						<div id="page">
							<span id="first" href="javascript:;">首页</span>
							<a class="pageBg" href="javascript:;">1</a>
							<a href="javascript:;">2</a>
							<a href="javascript:;">3</a>
							<a href="javascript:;">4</a>
							<span id="next" href="javascript:;">下一页</span>
							<span id="tail" href="javascript:;">末页</span>
						</div>
					</li>
				</ul>
				<ul>
					<li class="specificQues">
						<a href="javascript:;">&lt;&lt; 返回问题列表</a>
						<p>积分的累积方式</p>
						<p>【积分】是在网站上做贡献的“物质奖励”，获得积分的途径有很多，例如：注册、发表文章、发表精华帖、发起活动等，积分可以在网站消费，可以发起悬赏互助，可以游戏、兑换，作为网站的主要流通手段。</p>
						<p>你可以通过以下多种途径获得本网站积分：</p>
						<table>
							<tr>
								<td>操作</td>
								<td>获得积分</td>
								<td>说明</td>
							</tr>
							<tr>
								<td>注册</td>
								<td>50分</td>
								<td>成功注册乐龄网用户，将获得网站赠送的<span>50</span>点积分。<span>仅限第一次注册</span></td>
							</tr>
							<tr>
								<td>登录</td>
								<td>5分/天</td>
								<td>每天只在第一次登录加<span>5</span>点积分。</td>
							</tr>
							<tr>
								<td>签到</td>
								<td>1-7分</td>
								<td>不签到就无，第一天1分，以此类推，连续签到一周，后面继续加7，如中间中断签到，又会从1开始，每天封顶7分</td>
							</tr>
							<tr>
								<td>原创文章</td>
								<td>35分/篇</td>
								<td>发表原创文章得<span>35</span>点积分。（每人每天<span>可获得积分</span>的原创文章总数<span>为10篇</span>，超过10篇后不再给分。）</td>
							</tr>
							<tr>
								<td>转载文章</td>
								<td></td>
								<td>内容新颖、易读易懂、对网友有借鉴、学习等价值，并得到广泛认可的<span>优秀转载文章将被进行推荐、精华操作</span>。（每人每天允许转载文章总数为两篇。）</td>
							</tr>
							<tr>
								<td>推荐</td>
								<td>100分/篇</td>
								<td>推荐文章在列表页置顶显示，并可额外获得<span>100</span>点积分。如文章被取消推荐，会酌情扣除相应所获得的积分。</td>
							</tr>
							<tr>
								<td>精华</td>
								<td>200分/篇</td>
								<td>如果您的文章被圈住设置为“精华”，可获得<span>200</span>点额外积分。如被取消精华，则扣除所获得的积分。</td>
							</tr>
							<tr>
								<td>热帖</td>
								<td>50分/篇</td>
								<td>如果别人对您的文章连续7天内评论数达到20条的（评论数不包含作者本人评论，同一用户的多条评论仅算一条评论数），系统会<span>自动加“热”</span>，文章成为热帖，并同时获得<span>50</span>点积分</td>
							</tr>
							<tr>
								<td>被收藏</td>
								<td>2分/篇</td>
								<td></td>
							</tr>
							<tr>
								<td>评论</td>
								<td>2分/条</td>
								<td>发表一条评论点评可获得<span>2</span>点积分，评论自己的文章不得分；如出现恶意点评或作弊、灌水等不良行为被管理员警告，则扣除所得积分。<span>警告每达3次，将额外扣除100点积分</span>。</td>
							</tr>
							<tr>
								<td>加分</td>
								<td>1分/次</td>
								<td>您的文章得到网友的认同，每被“<span>加分</span>”一次获得<span>1</span>点积分。一位用户只能给一片文章加一次分；一位用户一天内最多只能给15篇不同的文章加分。</td>
							</tr>
							<tr>
								<td>发起同游</td>
								<td>50分/次</td>
								<td>每发起一次同游并通过审核获得50积分</td>
							</tr>
							<tr>
								<td>发起活动</td>
								<td>30分/次</td>
								<td>每发起一起活动（线上和线下）通过审核获得50积分</td>
							</tr>
							<tr>
								<td>参与活动</td>
								<td>10分/次</td>
								<td>每报名参加一次活动可获得10积分</td>
							</tr>
							<tr>
								<td>发布影展</td>
								<td>200分/次</td>
								<td>每发布一次影展并通过审核科获得200积分</td>
							</tr>
							<tr>
								<td>投票</td>
								<td>5分/次</td>
								<td>参与文章内的投票，可获得积分<span>5</span>点积分</td>
							</tr>
							<tr>
								<td>邀请好友</td>
								<td>50分/位</td>
								<td>当您邀请的好友成功注册且威望达到100分，则您可获得<span>50</span>点积分；当您邀请的好友成为活跃用户（威望达到500分）时，您还可额外获得<span>500</span>点积分。</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div id="others">
			<h3>其它途径</h3>
			<ul>
				<li>
					<a id="people" href="javascript:;">
						<img src="/imgs/lb_others_1.png" alt="">
						<span>在线客服</span><br>
						<span>专业客服人员在线解答</span>
					</a>
					<div class="put" id="put">
						<div id="putTop">
							<div></div>
							<span>柏岁网在线客服</span>
							<span id="off">X</span>
						</div>
						<div id="dialogue">
							<img src="/imgs/lb_logo.png" alt="">
						</div>
						<div id="imgs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
						<textarea placeholder="我想问..." id="say"></textarea>
						<div id="send">
							<a id="end" href="javascript:;">结束回话</a>
							<a id="sendTo" href="javascript:;">发送</a>
						</div>
					</div>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/imgs/lb_others_2.png" alt="">
						<span>热线电话</span><br>
						<span>400-800-2666</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/imgs/lb_others_3.png" alt="">
						<span>柏岁官方群</span><br>
						<span>8856455/2236666</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
		<div id="opinion">
			<h3>意见反馈</h3>
			<p>您的意见是我们不断改进的动力，感谢您在使用过程中遇到的问题或提出宝贵的建议</p>
			<form action="">
				<input name="title" type="text" value="标题：">
				<textarea name="opinion" id="">内容：</textarea>
				<input type="submit" value="提交">
				<input type="reset" value="重置">
			</form>
		</div>
	</div>
<% include layouts/footer %>