
<!-- 个人主页 -->
<% include layouts/header %>
	<link rel="stylesheet" href="/css/lb_self.css">
	<script type="text/javascript" src="/js/lb_self.js"></script>
	<div id="main">
		<p>您当前的位置：<a href="/">主页</a> >> <a href="javascript:;">个人主页</a></p>
		<img src="/imgs/lb_self_top.png" alt="">
		<div id="self">
			<img src="/imgs/lb-self.png" alt="">
			<div>
				<p>
					<a href="javascript:;">关注</a>
					<a href="javascript:;">私信</a>
				</p>
				<h3>一杯敬自由</h3>
				<p>
					用户名 : <span>一杯敬自由</span> &nbsp;
					吧龄 : <span>4.7年</span> &nbsp;
					发帖 : <span>458</span>
				</p>
			</div>
		</div>
		<div id="content">
			<ul id="contentHeader">
				<li class="contentHeader">他的主页</li>
				<li>他的成就</li>
			</ul>
			<ul id="contentFooter">
				<li class="contentFooter">
					<a href="javascript:;">关注的吧</a>
					<ul>
						<li><a href="javascript:;">运动健康吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
						<li><a href="javascript:;">个人活动吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
						<li><a href="javascript:;">官方活动吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
						<li><a href="javascript:;">新闻讨论吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
						<li><a href="javascript:;">柏岁通知吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
						<li><a href="javascript:;">柏岁官方吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
						<li><a href="javascript:;">交友吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
						<li><a href="javascript:;">柏岁榜单吧<img src="/imgs/lb_rank_start.png" alt=""></a></li>
					</ul>
					<div><span>该用户隐藏已个人动态！</span></div>
				</li>
				<li>
					<a href="javascript:;">这里是他的成就</a>
					<div><span>看什么！他啥子成就也没有！-.-</span></div>
				</li>
			</ul>
			<div id="contentFooterRight">
				<h3>最近来访</h3>
				<ul>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_1.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_2.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_3.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_4.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_5.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_6.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_7.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_8.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_visit_9.png" alt=""></a></li>
				</ul>
				<h3>他关注的人（8）</h3>
				<ul>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_1.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_2.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_3.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_4.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_5.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_6.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_7.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="/imgs/lb_heFllow_8.png" alt=""></a></li>
				</ul>
				<h3>关注他的人（1）</h3>
				<ul>
					<li><a href="javascript:;"><img src="/imgs/lb_fllowHe_1.png" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
	<% include layouts/footer %>
