<% include layouts/header %>
	<script type="text/javascript" src="/js/lb_help.js"></script>
	<link rel="stylesheet" href="/css/baisuibang.css">
	<div id="main">
		<p>您当前的位置：健康</p>
		<div id="gundong">
			<ul id="entertainment">
				<li>
					<a href="#">
						<img src="/imgs/chd_bl1.png" alt="">
						<p>老马头</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/imgs/chd_bl1.png" alt="">
						<p>老马头</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/imgs/chd_bl1.png" alt="">
						<p>老马头</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/imgs/chd_bl1.png" alt="">
						<p>老马头</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/imgs/chd_bl1.png" alt="">
						<p>老马头</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/imgs/chd_bl1.png" alt="">
						<p>老马头</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/imgs/chd_bl1.png" alt="">
						<p>老马头</p>
					</a>
				</li>
			</ul>
		</div>
		<div id="all">
			<div class="title">
				<h3>全部勋章</h3>
			</div>
			<ul id="allLeft">
				<li id="no"><h3>柏岁荣耀</h3></li>
				<li>勋章</li>
				<li class="all">全部勋章</li>
				<li>活动勋章</li>
				<li>限量勋章</li>
				<li>排行旁</li>
				<li>身份</li>
				<li>官方人员</li>
				<li>普通用户</li>
				<li>Vip用户</li>
			</ul>
			<ul id="allRight">
				<li></li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
				<li class="allRight">
					<ul>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m1.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m2.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m3.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m4.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m5.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m6.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m7.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m8.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m9.png" alt="">
							<p>小时候</p>
						</li>
						<li>
							<img src="/imgs/m10.png" alt="">
							<p>小时候</p>
						</li>
					</ul>
				</li>
			</ul>
			<div id="page">
				<span id="first" href="javascript:;">首页</span>
				<a class="pageBg" href="javascript:;">1</a>
				<a href="javascript:;">2</a>
				<a href="javascript:;">3</a>
				<a href="javascript:;">4</a>
				<span id="next" href="javascript:;">下一页</span>
				<span id="tail" href="javascript:;">末页</span>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		var timerEnjoy;
		var a = 0;
		var b = true;
		$('#allLeft>li:not(#no)').click(function(){
			$(this).addClass('all').siblings().removeClass('all');
			$('#allRight>li').eq($(this).index()).addClass('allRight').siblings().removeClass('allRight');
		})
	
		function enjoy(){
			var j = $('#entertainment>li').length;
			if(j < 6){
				return;
			}
			timerEnjoy = setInterval(function(){
				if(b){
					a -= 1;
					if(a <= -(112*j+84*(j-1)-1100)){
						b = false;
					}
				}else{
					a += 1;
					if(a >= 0){
						b = true;
					}
				}
				$('#entertainment').css('left',a);
				
			},30)
		}
		enjoy();
		$('#entertainment').mouseover(function(){
			clearInterval(timerEnjoy);
		}).mouseout(function(){
			enjoy();
		})
	})
	</script>
<% include layouts/footer %>