<% include layouts/header %>
<link rel="stylesheet" href="/css/sq_huodong_user.css">
	<div class="main">
		<div class="adbar">
			<p class="site">您当前的位置：&nbsp;<span>活动</span> &gt; 个人主页</p>
		</div>
		
		<!-- 主页头 -->
		<div class="user_tit">
			<div class="user_tit_img"><img src="" alt=""></div>
			<div class="user_tit_info clear">
				<div class="user_tit_info_head left"><img src="" alt=""></div>
				<div class="user_tit_info_name left">
					<p>
						<a href="javascript:;">关注</a>
						<a href="javascript:;">私信</a>
					</p>
					<p>一杯敬自由</p>
					<p>
						<span>用户名：</span>
						<span>一杯敬自由</span> | 
						<span>吧龄：</span>
						<span>4.7年</span> | 
						<span>发帖:</span>
						<span>458</span>
					</p>
				</div>
			</div>
		</div>
		
		<!--动态样式-->
		<div class="dongtai">
			<div class="dongtai_tit">
				<a href="javascript:;" class="active">他的主页</a>
				<a href="javascript:;">他的成就</a>
			</div>
			<div class="dt_cont clear">
				<!-- 左侧 -->
				<div class="dt_cont_left left">
					<p><span>|</span>关注的吧</p>
					<div class="">
						<ul class="clear">
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
							<li><a href="javascript:;">运动健康吧<span>☆</span></a></li>
						</ul>
					</div>
					<p class="yingc">该用户隐藏个人动态！</p>
				</div>
				<!-- 右侧 -->
				<div class="dt_cont_right right">
					<div class="laifang">
						<p>最近来访</p>
						<ul class="clear">
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
						</ul>
					</div>
					<div class="laifang">
						<p>他关注的人（8）</p>
						<ul class="clear">
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
						</ul>
					</div>
					<div class="laifang">
						<p>关注他的人（1）</p>
						<ul class="clear">
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
							<li><a href="javascript:;"><img src="" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include layouts/footer %>