<% include layouts/header %>
<link rel="stylesheet" href="/css/sq_huodong.css">
	<div class="main">
		<div class="adbar">
			<p class="site">您当前的位置：&nbsp;<span>活动</span></p>
		</div>

		<!-- 活动介绍 -->
		<div class="jieshao clear">
			<div class="jieshao_left left">
				<a href="javascript:;">
					<img src="" alt="">
					<span>【一起看电影】建军大业</span>
				</a>
			</div>
			<div class="jieshao_right left">
				<p>地址：北京市昌平区回龙观</p>
				<p>联系人：柏岁俱乐部</p>
				<p>联系电话：010-888888</p>
				<p>报名截止日：2017-10-10</p>
				<p>报名费用：60积分 &nbsp;&nbsp;0元</p>
				<p class="fenxiang">分享：<span></span><span></span><span></span></p>
				<a href="javascript:;" class="baoming">点击报名</a>
			</div>
		</div>
		<!-- 活动详情 -->
		<div class="xiangq">
			<div class="gg_tit">
				<div class="gg_name">活动详情</div>
				<div class="gg_line"></div>
			</div>

			<div class="xiangq_cont clear">
				<p class="left">剧情简介：</p>
				<p class="left">1972年，北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果北伐战争刚刚取得重大成果</p>
			</div>
			<div class="xiangq_cont clear">
				<p class="left">电影剧照：</p>
				<p class="left">
					<a href="javascript:;"><img src="" alt=""></a>
					<a href="javascript:;"><img src="" alt=""></a>
					<a href="javascript:;"><img src="" alt=""></a>
					<a href="javascript:;"><img src="" alt=""></a>
				</p>
			</div>
			<p>时间：2017-10-18 05:00 - 08:00</p>
			<p>地点：北京市昌平区回龙观</p>
		</div>

		<!-- 评论专区 -->
		<div class="pingl">
			<div class="gg_tit">
				<div class="gg_name">评论专区</div>
				<div class="gg_line"></div>
			</div>
			<!-- 注册登录 -->
			<div class="login_box">
				<p>您需要登录后才能回复</p>
				<p><a href="javascript:;">登录</a><a href="javascript:;">立即注册</a></p>
			</div>
		</div>
	</div>
	<!-- 遮罩层 -->
	<div class="shadow">
		<div class="boxshadow"></div>
		<div class="info_box">
			<p>填写信息</p>
			<p><span>联系人</span><input type="text"></p>
			<p><span>联系电话</span><input type="text"></p>
			<p><span>备注</span><input type="text"></p>
			<div>
				<a href="javascript:;" class="baom">立即报名</a>
				<a href="javascript:;" class="qux">取消</a>
			</div>
		</div>
	</div>
<% include layouts/footer %>