<% include layouts/header %>
<link rel="stylesheet" href="/css/sq_huodong3.css">
	<div class="main">
		<div class="adbar">
			<p class="site">您当前的位置：&nbsp;<span>活动</span></p>
		</div>
		<div class="huodong_img1"><a href="/huodong/huodong2/?tab=sq_huodong"><img src="" alt=""></a></div>
		<!-- 推荐参与 -->
		<div class="ht_tj">
			<div class="gg_tit">
				<div class="gg_name">推荐参与</div>
				<div class="gg_line"></div>
			</div>
			<div class="ht_tj_img clear">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
			</div>
		</div>

		<!-- 热门活动 -->
		<div class="hot_hd">
			<div class="gg_tit">
				<div class="gg_name">热门活动</div>
				<div class="gg_line"></div>
			</div>

			<div class="clear">
				<div class="hot_hd_left left">
					<div class="hot_hd_left_zu">
						<a href="/huodong/huodong3/?tab=sq_huodong"><img src="" alt=""></a>
						<p>【原创】超人走秀</p>
						<p>北京市昌平区回龙观</p>
					</div>
					<div class="hot_hd_left_zu">
						<a href="/huodong/huodong3/?tab=sq_huodong"><img src="" alt=""></a>
						<p>【原创】超人走秀</p>
						<p>北京市昌平区回龙观</p>
					</div>
					<div class="hot_hd_left_zu">
						<a href="/huodong/huodong3/?tab=sq_huodong"><img src="" alt=""></a>
						<p>【原创】超人走秀</p>
						<p>北京市昌平区回龙观</p>
					</div>
					<div class="hot_hd_left_zu">
						<a href="/huodong/huodong3/?tab=sq_huodong"><img src="" alt=""></a>
						<p>【原创】超人走秀</p>
						<p>北京市昌平区回龙观</p>
					</div>
				</div>
				<!-- 右侧 -->
				<div class="hot_hd_right right">
					<div>
						<p>我参与的活动</p>
						<div></div>
					</div>
					<!-- 活动参与 -->
					<div>
						<p><span>|</span>活动参与达人</p>
						<ul class="clear">
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
							<li><a href="javascript:;"><img src="" alt=""><span>时尚大叔</span></a></li>
						</ul>
						<p class="look_more">查看更多</p>
					</div>
				</div>
			</div>

			<!-- 加载更多 -->
			<div class="get_more">
				<a href="javascript:;">加载更多</a>
			</div>
		</div>
	</div>
<% include layouts/footer %>