<% include layouts/header %>
<link rel="stylesheet" href="/css/sq_news_childpage_ws.css">
	<div class="main">
		<div class="adbar bt">
			<p class="site">您当前的位置：&nbsp;<span>新闻</span>&gt;<span>文娱</span></p>
		</div>

		<div class="article_tit">
			<h2>风雅一丈屏</h2>
			<p class="article_tit_sec">作者：淋漓了</p>
			<p class="article_tit_sec clear"><span class="left">2017-09-06&nbsp;&nbsp;11:20:12</span><span class="right right_text">来源：新闻文史</span></p>
			<p class="article_tit_tag">
				<span>标签</span>
				<a href="javascript:;">屏风</a>
				<a href="javascript:;">实用</a>
				<a href="javascript:;">雅韵</a>
			</p>
		</div>
		<!-- 文章内容 -->
		<div class="article_content">
			<p>海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
			<p>海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
			<p class="article_content_img"><img src="" alt=""><span>西汉南越王墓出土的彩绘屏风，红黑纹饰交织，庄重威严（资料图/图）</span></p>
			<h3>缘起于实用</h3>
			<p>海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
			<h3>明清流光</h3>
			<p>海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
			<p>海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
			<p>海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
		</div>

		<div class="discuss">
			<!-- 评论输入框 -->
			<div class="discuss_write">
				<div class="discuss_login">
					<input type="text">
					<a href="javascript:;" class="login_btn">登录并评论</a>
				</div>
				<div class="share clear">
					<a href="javascript:;" class="jb">举报</a>
					<a href="javascript:;" class="fx">分享</a>
				</div>
			</div>
			
		<!-- 所有评论 -->
			<div class="discuss_all">
				<div class="gg_tit">
					<div class="gg_name">所有评论</div>
					<div class="gg_line"></div>
				</div>

				<div class="discuss_content">
					<div class="discuss_info clear">
						<div class="discuss_info_img left"><a href="/news/hduser/?tab=sq_news"><img src="" alt=""></a></div>
						<div class="discuss_info_tit left">
							<p>至尊宝</p>
							<p>我觉得质量上去了，拿出实力证明给消费者</p>
							<p>2017-09-06&nbsp;&nbsp;11:20:12 <a href="javascript:;">举报</a> 来自南周阅读器 Android 版</p>
							<a href="javascript:;" class="reply right">回复</a>
						</div>
					</div>
					<div class="discuss_info clear">
						<div class="discuss_info_img left"><a href="/news/hduser/?tab=sq_news"><img src="" alt=""></a></div>
						<div class="discuss_info_tit left">
							<p>至尊宝</p>
							<p>我觉得质量上去了，拿出实力证明给消费者</p>
							<p>2017-09-06&nbsp;&nbsp;11:20:12 <a href="javascript:;">举报</a> 来自南周阅读器 Android 版</p>
							<a href="javascript:;" class="reply right">回复</a>
						</div>
					</div>
					<div class="discuss_info clear">
						<div class="discuss_info_img left"><a href="/news/hduser/?tab=sq_news"><img src="" alt=""></a></div>
						<div class="discuss_info_tit left">
							<p>至尊宝</p>
							<p>我觉得质量上去了，拿出实力证明给消费者</p>
							<p>2017-09-06&nbsp;&nbsp;11:20:12 <a href="javascript:;">举报</a> 来自南周阅读器 Android 版</p>
							<a href="javascript:;" class="reply right">回复</a>
						</div>
					</div>

				</div>


			</div>
				
		</div>

	</div>
<% include layouts/footer %>