<% include layouts/header %>
	<link rel="stylesheet" href="/css/sq_news.css">
	<div class="main">
		<div class="adbar bt">
			<p class="site">您当前的位置：&nbsp;<span>新闻</span></p>
			<div class="adbar_img">
				<div class="leftbig left"><a href="/news/tj/?tab=sq_news"><img src="" alt=""></a></div>
				<div class="rightsmall right">
					<a href="/news/tj/?tab=sq_news"><span>推荐</span><img src="" alt=""></a>
					<a href="/news/tj/?tab=sq_news"><span>推荐</span><img src="" alt=""></a>
				</div>
			</div>
		</div>

		<!-- 热门 -->
		<div class="hotnews bt">
			<div class="gg_tit">
				<div class="gg_name">热门</div>
				<div class="gg_line"></div>
			</div>
			
			<div class="news_list clear">
				<div class="news_list_left left">
					<div class="zu clear">
						<ul class="left">
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄中国国际老龄中国国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						</ul>
						<!-- 热门图片 -->
						<div class="news_list_md left"><a href="/news/tj3/?tab=sq_news"><img src="" alt=""></a></div>
					</div>
					<div class="zu clear">
						<ul class="left">
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄中国国际老龄中国国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
							<li><a href="/news/tj3/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						</ul>
						<!-- 热门图片 -->
						<div class="news_list_md left"><a href="/news/tj3/?tab=sq_news"><img src="" alt=""></a></div>
					</div>
				</div>

				<!-- 右侧热搜 -->
				<div class="news_list_right right">
					<h4 class="hotserch">热搜</h4>
					<ul>
						<li><a href="/news/tj3/?tab=sq_news"><span>1.</span>第四节中国国龄中国国际老龄中国国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>2.</span>第四节中国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>3.</span>第四节中国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>4.</span>第四节中国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>5.</span>第四节中国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>6.</span>第四节中国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>7.</span>第四节中国国龄中国国际老龄中国国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>8.</span>第四节中国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>9.</span>第四节中国国际老龄</a></li>
						<li><a href="/news/tj3/?tab=sq_news"><span>10.</span>第四节中国国际老龄</a></li>
					</ul>
				</div>		
			</div>
		</div>

		<!-- 时事 -->
		<div class="current_events bt">
			<div class="gg_tit">
				<div class="gg_name">时事</div>
				<div class="gg_line"></div>
			</div>

			<div class="ce_content clear">
				<div class="ce_content_left left">
					<div>
						<a href="/news/ws/?tab=sq_news"><img src="" alt=""></a>
						<a href="/news/ws/?tab=sq_news"><img src="" alt=""></a>
					</div>
					<p>第十届“摩托大赛”全国总决赛圆满结束</p>
				</div>

				<div class="ce_content_right right">
					<ul>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄中国国际老龄中国国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
						<li><a href="/news/ws/?tab=sq_news"><span></span>第四节中国国际老龄</a></li>
					</ul>
				</div>
			</div>
		</div>
	
		<!-- 健康 -->
		<div class="healthy bt">
			<div class="gg_tit">
				<div class="gg_name">健康</div>
				<div class="gg_line"></div>
			</div>

			<div class="ht_content clear">
				<div class="ht_content_left left">
					<div class="ht_zu clear">
						<div class="ht_content_left_img left"><a href="/news/jk?tab=sq_news"><img src="" alt=""></a></div>
						<ul class="left">
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
						</ul>
					</div>
					<div class="ht_zu clear">
						<div class="ht_content_left_img left"><a href="/news/jk?tab=sq_news/news/jk?tab=sq_news"><img src="" alt=""></a></div>
						<ul class="left">
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥肺防秋燥燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
							<li><a href="/news/jk?tab=sq_news">白露时节注意养肺防秋燥</a></li>
						</ul>
					</div>
				</div>
				<div class="ht_content_right right">
					<div class="ht_user clear">
						<div class="left ht_user_img"><a href="/news/jk?tab=sq_news"><img src="" alt=""></a></div>
						<p class="left">如何以房养老</p>
					</div>
					<div class="ht_user clear">
						<div class="left ht_user_img"><a href="/news/jk?tab=sq_news"><img src="" alt=""></a></div>
						<p class="left">如何以房养老</p>
					</div>
					<div class="ht_user clear">
						<div class="left ht_user_img"><a href="/news/jk?tab=sq_news"><img src="" alt=""></a></div>
						<p class="left">如何以房养老</p>
					</div>
					<div class="ht_user clear">
						<div class="left ht_user_img"><a href="/news/jk?tab=sq_news"><img src="" alt=""></a></div>
						<p class="left">如何以房养老</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 文娱 -->
		<div class="ment bt">
			<div class="gg_tit">
				<div class="gg_name">文娱</div>
				<div class="gg_line"></div>
			</div>

			<div class="ment_content clear">
				<div class="left">
					<div class="ment_img"><a href="/news/jk?tab=sq_news"><img src="" alt=""></a></div>
					<p class="ment_info">娱乐圈好事将近</p>
				</div>
				<div class="right">
					<div class="ment_zu">
						<p>历史上的今天</p>
						<ul>
							<li><a href="/news/jk?tab=sq_news"><span></span>遥望姑苏，一份民间档案的文化印记</a></li>
							<li><a href="/news/jk?tab=sq_news"><span></span>遥望姑苏，一份民间档案的文化印记</a></li>
							<li><a href="/news/jk?tab=sq_news"><span></span>遥望姑苏，一份民间档案的文化印记</a></li>
						</ul>
					</div>
					<div class="ment_zu">
						<p>从红木楼梦看中国的数字文化</p>
						<ul>
							<li><a href="/news/jk?tab=sq_news"><span></span>遥望姑苏，一份民间档案的文化印记</a></li>
							<li><a href="/news/jk?tab=sq_news"><span></span>遥望姑苏，一份民间档案的文化印记</a></li>
							<li><a href="/news/jk?tab=sq_news"><span></span>遥望姑苏，一份民间档案的文化印记</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
<% include layouts/footer %>