<% include layouts/header %>
<link rel="stylesheet" href="/css/sq_news_childpage_tj.css">
	<div class="main">
		<div class="adbar bt">
			<p class="site">您当前的位置：&nbsp;<span>新闻</span>&gt;<span>推荐</span></p>
		</div>
		<!-- 内容 -->
		<div class="tj_content clear">
			<!-- 左边内容 -->
			<div class="tj_content_left left">
				<div class="article_tit">
					<h2>阿富汗赌局，美国还在下注</h2>
					<p class="article_tit_sec">作者：淋漓了 南方周末记者</p>
					<p class="article_tit_sec clear"><span class="left">2017-09-06&nbsp;&nbsp;11:20:12</span><span class="right right_text">来源：新闻推荐</span></p>
					<p class="article_tit_tag">
						<span>标签</span>
						<a href="javascript:;">阿富汗</a>
						<a href="javascript:;">特朗普</a>
						<a href="javascript:;">战争</a>
					</p>
				</div>

				<!-- 文本内容 -->
				<div class="article_cont">
					<img src="" alt="">
					<p class="article_cont_tit">2017年4月24日，美国国防部长马蒂斯突防阿富汗。2017年4月24日，美国国防部长马蒂斯突防阿富汗。2017年4月24日，美国国防部长马蒂斯突防阿富汗。</p>
					<p class="article_cont_text">海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
					<p class="article_cont_text">海军远航访问编队先后与缅甸、孟加拉国、斯里兰卡、巴基斯坦、伊朗、阿曼、意大利、希腊、吉布提、坦桑尼亚、文莱、柬埔寨、泰国等亚非欧三大洲13国海军共21艘舰艇、5架舰载直升机、1架反潜巡逻机和3个岸基观通站举行海上联合演习，演习海域遍布太平洋、印度洋、地中海、孟加拉湾、阿拉伯海、孟加拉湾、泰国湾等主要海域或海湾。</p>
				</div>

				<!-- 查看更多 -->
				<div class="look_more">
					<p><a href="javascript:;">查看更多</a></p>
					<p>
						<a href="javascript:;">分享</a>
						<a href="javascript:;">评论</a>
						<a href="javascript:;">举报</a>
				</div>

				<!-- 热点推荐 -->
				<div class="groom_hot"> 
					<div class="groom_hot_info">
						<h4>热点推荐</h4>
						<p class="groom_hot_info_first">九年了，国产奶找回消费者信任了吗？</p>
						<p class="article_tit_sec">作者：淋漓了 南方周末记者</p>
						<p class="article_tit_sec clear"><span class="left">2017-09-06&nbsp;&nbsp;11:20:12</span><span class="right right_text">来源：新闻推荐</span></p>
					</div>
					<div class="groom_hot_info">
						<h4>热点推荐</h4>
						<p class="groom_hot_info_first">九年了，国产奶找回消费者信任了吗？</p>
						<p class="article_tit_sec">作者：淋漓了 南方周末记者</p>
						<p class="article_tit_sec clear"><span class="left">2017-09-06&nbsp;&nbsp;11:20:12</span><span class="right right_text">来源：新闻推荐</span></p>
					</div>
					<div class="groom_hot_info">
						<h4>热点推荐</h4>
						<p class="groom_hot_info_first">九年了，国产奶找回消费者信任了吗？</p>
						<p class="article_tit_sec">作者：淋漓了 南方周末记者</p>
						<p class="article_tit_sec clear"><span class="left">2017-09-06&nbsp;&nbsp;11:20:12</span><span class="right right_text">来源：新闻推荐</span></p>
					</div>
				</div>
			</div>
			
			<!-- 右边内容 -->
			<div class="tj_content_right right">
				<div><a href="javascript:;"><img src="" alt=""></a></div>
				<div>
					<h3>热搜</h3>
					<ul>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉给特拉普普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
						<li><a href="javascript:;"><span>1. </span>希拉里 我为什么会输给特拉普</a></li>
					</ul>
				</div>
			</div>


		</div>	
			
	</div>
<% include layouts/footer %>