<!-- 首页 -->
<!--头部-->
<% include layouts/header %>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_409751_89mdlane4tdcmcxr.css">
<link rel="stylesheet" href="/css/ybb_index_sc.css">
	<!--身体-->
	<div class="bodys">
		<div class="body">
			<!--前面位置部分开始-->
			<p class="position">您当前的位置:<span>个人空间</span></p>
			<!--前面位置部分结束-->
			<!--详细资料区域开始-->
			<div class="information">
				<!--头像开始-->
				<div class="HeadPortrait">
					<a href="#">
						<img src="/imgs/ybb_1.png">
					</a>
				</div>
				<!--头像结束-->
				<!--介绍开始-->
				<div class="PersonalCenter">
					<p>一杯敬苍天的个人中心</p>
					<div class="PersonalCenter-div">
						<span>活跃度：9999</span>
						<span>积分：12006</span>
						<span>好友：552</span>
						<span>年龄：52</span>
						<span>来自：<span>山西</span>,<span>太原</span></span>
					</div>
					<!--勋章开始-->
					<div class="PersonalCenter-div-xunzhang">
						<p>勋章：</p>
						<p>礼物：</p>
					</div>
					<!--勋章结束-->
				</div>
				<!--介绍结束-->
				<!--编辑资料开始-->
				<div class="modify">
					<span style="margin-top:10px;"><a href="/editPersonal?_id=<%= user._id %>">修改密码</a></span>
					<span style="margin-top:20px;"><a href="/editImg?_id=<%= user._id %>">修改头像</a></span>
				</div>
				<!--编辑资料结束-->
			</div>
			<!--详细资料区域结束-->
			<!--内容区域开始-->
			<div class="body-container">
				<!--内容左边区域开始-->
				<div class="content-left">
					<ul>
						<li><a href="/grkj/pd/?tab=index">个人动态</a></li>
						<li><a href="/grkj/rv/?tab=index">与我相关</a></li>
						
						<li><a href="/grkj/mbf/?tab=index">我的好友</a></li>
						<li><a href="/grkj/sy/?tab=index">我的贴吧</a></li>
						<li><a href="/grkj/mp/?tab=index">我的积分</a></li>
						<li><a href="/grkj/ma/?tab=index">我的勋章</a></li>
						<li  class="personal"><a href="#">积分商城</a></li>
					</ul>
				</div>
				<!--内容左边区域结束-->

				<!--内容的中间区域开始-->
				<div class="center">
					<!--选项卡开始-->
					<div class="option">
						<ul>
							<li><a href="#" class="haoyou">全部商品</a></li>
						</ul>
						<div class="cian"></div>
					</div>
					<!--选项卡结束-->
					<div class="madel">
						<ul>
							<li>
								<div class="img"><img src="/imgs/s1.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
							<li>
								<div class="img"><img src="/imgs/s2.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
							<li>
								<div class="img"><img src="/imgs/s3.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
							<li class="right">
								<div class="img"><img src="/imgs/s4.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
							<li>
								<div class="img"><img src="/imgs/s5.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
							<li>
								<div class="img"><img src="/imgs/s6.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
							<li>
								<div class="img"><img src="/imgs/s1.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
							<li class="right">
								<div class="img"><img src="/imgs/s2.png"></div>
								<p class="p1">鱼跃智能血压计</p>
								<p class="p2"><span>积分：</span>300</p>
								<button class="btn"><a href="#">立即兑换</a></button>
							</li>
						</ul>
					</div>
					
							
				
				</div>
				<!--内容的中间区域结束-->

				<!--内容区域右边部分开始-->
				<div class="content-right">
					<div class="xingqi">
						<div class="xingqi-left">
							<span class="xiangqi">周三</span>
							<span class="riqi">9月25日</span>
						</div>
						<div class="qiandao">
							<span class="qiandao1">签到</span>
							<span class="qiandaotian">10天</span>
						</div>
					</div>
					<div class="fangke">
						<!--我的访客开始-->
						<div class="fagnke">
							<span>我的访客</span>
						</div>
						<!--访客图片区开始-->
						<div class="fangke-img">
							<ul>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_2.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_3.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_4.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_5.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_6.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_7.png">
								<p>2017-06-05</p>
								</a></li>
							</ul>
						</div>
						<div class="left-jian">
							<div><a href="#"><img src="/imgs/lb_rankLeft.png"></a></div>
							<div><a href="#"><img src="/imgs/lb_rankRight.png"></a></div>
						</div>
						<div class="xian2"></div>
						<div class="liulan">
							<div class="liulan-left">
								<span>今日浏览</span>
								<span>28</span>
							</div>
							<div class="liulan-right">
								<span>总浏览</span>
								<span>11596</span>
							</div>
						</div>
						<!--访客图片区结束-->
						<!--我的访客结束-->
					</div>
				</div>
				<!--内容区域右边部分结束-->
			</div>
			<!--内容区域结束-->
		</div>
	</div>
<script src="/js/ybb_index_mp.js"></script>
<script src="/js/ybb_fb.js"></script>
<% include layouts/footer %>