<!-- 首页 -->
<!--头部-->
<% include layouts/header %>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_409751_89mdlane4tdcmcxr.css">
<link rel="stylesheet" href="/css/ybb_index_pd.css">
	<!--身体-->
	<div class="bodys">
		<div class="body">
			<!--前面位置部分开始-->
			<p class="position">您当前的位置:<span>个人空间</span></p>
			<!--前面位置部分结束-->
			<!--详细资料区域开始-->
			<div class="information">
				<!--头像开始-->
				<div class="HeadPortrait">
					<a href="#">
						<img src="/imgs/ybb_1.png">
					</a>
				</div>
				<!--头像结束-->
				<!--介绍开始-->
				<div class="PersonalCenter">
					<p>一杯敬苍天的个人中心</p>
					<div class="PersonalCenter-div">
						<span>活跃度：9999</span>
						<span>积分：12006</span>
						<span>好友：552</span>
						<span>年龄：52</span>
						<span>来自：<span>山西</span>,<span>太原</span></span>
					</div>
					<!--勋章开始-->
					<div class="PersonalCenter-div-xunzhang">
						<p>勋章：</p>
						<p>礼物：</p>
					</div>
					<!--勋章结束-->
				</div>
				<!--介绍结束-->
				<!--编辑资料开始-->
				<div class="modify">
					<span><a href="#">修改资料</a></span>
				</div>
				<!--编辑资料结束-->
			</div>
			<!--详细资料区域结束-->
			<!--内容区域开始-->
			<div class="body-container">
				<!--内容左边区域开始-->
				<div class="content-left">
					<ul>
						<li  class="personal"><a href="#">个人动态</a></li>
						<li><a href="/grkj/rv/?tab=index">与我相关</a></li>
						
						<li><a href="/grkj/mbf/?tab=index">我的好友</a></li>
						<li><a href="/grkj/sy/?tab=index">我的贴吧</a></li>
						<li><a href="/grkj/mp/?tab=index">我的积分</a></li>
						<li><a href="/grkj/ma/?tab=index">我的勋章</a></li>
						<li><a href="/grkj/sc/?tab=index">积分商城</a></li>
					</ul>
				</div>
				<!--内容左边区域结束-->
				<!--遮罩层开始-->
					<div class="zhezc">
						<!--创建相册的表单开始-->
						<div class="clearInput">
							<div class="canyu">
								<div class="lanse"></div>
								<span>新建相册</span>
							</div>
							<div class="ceName">
								<span>相册名称:</span>
								<input type="text" class="xiagnnew">
							</div>
							<div class="ceName">
								<span>相册分类:</span>
								<input type="text" class="xiagnnew">
							</div>
							<div class="maioshu">
								<span>相册描述:</span>
								<textarea class="textarea1"></textarea>
							</div>
							<div class="anniuniu">
								<button><a href="#">创建相册</a></button>
								<button class="quxiaoxiao"><a href="#">取消</a></button>
							</div>
						</div>
						<!--创建相册的表单结束-->
					</div>
				<!--遮罩层结束-->
				<div id="dasss">
					<!--选型卡开始-->
					<div class="activity">
						<ul>
							<li><a href="#"  class="dsiplay-1">主页</a></li>
							<li><a href="#">相册</a></li>
							<li><a href="#">我参与的活动</a></li>
						</ul>
					</div>
					<!--选项卡结束-->
					<!--主页开始-->
					<div class="zhuye yingczang">
						<!--活动动态开始-->
						<div class="winter">
							<span>全部动态</span>
							<div></div>
						</div>
						<!--活动动态结束-->
						<div class="RiceNoodles"></div>
						<!--头像和动态开始-->
						<div class="imgs-noddles">
							<div class="Oldman">
								<div class="Oldman-img">
									<a href="#"><img src="/imgs/ybb_1.png"></a>
								</div>
								<div class="cangtian">
									<p>一杯敬苍天</p>
									<span class="times">22:00</span>
									<span class="time">2017-09-27</span>
								</div>
							</div>
							<!--动态和图片开始了-->
							<div class="locomotive">
								<p>最喜欢的机车今天到了</p>
								<div>
									<a href="">
										<img src="/imgs/ybb_jc.png">
									</a>
								</div>
							</div>
							<!--动态和图片结束了-->
							<!--浏览次数开始-->
							<div class="BrowseTimes">
								<span>浏览1156</span>
								<div class="Givethethumbs-up">
									<ul>
										<li><a href="#"><i class="iconfont icon-dianzan"></i></a></li>
										<li><a href="#"><i class="iconfont icon-xinxi"></i></a></li>
										<li><a href="#"><i class="iconfont icon-zhuanfa"></i></a></li>
									</ul>
								</div>
							</div>
							<!--浏览次数结束-->
							<div class="femge">
							</div>
							<!--评论开始-->
							<div class="comment">
								<i class="iconfont icon-paizhao"></i>
								<input type="text" placeholder="评论">
							</div>
							<!--评论结束-->
						</div>
						<!--头像和动态结束-->

						<!--头像和动态开始-->
						<div class="imgs-noddles">
							<div class="Oldman">
								<div class="Oldman-img">
									<a href="#"><img src="/imgs/ybb_1.png"></a>
								</div>
								<div class="cangtian">
									<p>一杯敬苍天</p>
									<span class="times">22:00</span>
									<span class="time">2017-09-27</span>
								</div>
							</div>
							<!--动态和图片开始了-->
							<div class="locomotive">
								<p>最喜欢的机车今天到了</p>
								<div>
									<a href="">
										<img src="/imgs/ybb-lt.png">
									</a>
								</div>
							</div>
							<!--动态和图片结束了-->
							<!--浏览次数开始-->
							<div class="BrowseTimes">
								<span>浏览1156</span>
								<div class="Givethethumbs-up">
									<ul>
										<li><a href="#"><i class="iconfont icon-dianzan"></i></a></li>
										<li><a href="#"><i class="iconfont icon-xinxi"></i></a></li>
										<li><a href="#"><i class="iconfont icon-zhuanfa"></i></a></li>
									</ul>
								</div>
							</div>
							<!--浏览次数结束-->
							<div class="femge">
							</div>
							<!--评论开始-->
							<div class="comment">
								<i class="iconfont icon-paizhao"></i>
								<input type="text" placeholder="评论">
							</div>
							<!--评论结束-->
						</div>
						<!--头像和动态结束-->

						<!--头像和动态开始-->
						<div class="imgs-noddles">
							<div class="Oldman">
								<div class="Oldman-img">
									<a href="#"><img src="/imgs/ybb_1.png"></a>
								</div>
								<div class="cangtian">
									<p>一杯敬苍天</p>
									<span class="times">22:00</span>
									<span class="time">2017-09-27</span>
								</div>
							</div>
							<!--动态和图片开始了-->
							<div class="locomotive">
								<p>最喜欢的机车今天到了</p>
								<div>
									<a href="">
										<img src="/imgs/ybb-lt1.png">
									</a>
								</div>
							</div>
							<!--动态和图片结束了-->
							<!--浏览次数开始-->
							<div class="BrowseTimes">
								<span>浏览1156</span>
								<div class="Givethethumbs-up">
									<ul>
										<li><a href="#"><i class="iconfont icon-dianzan"></i></a></li>
										<li><a href="#"><i class="iconfont icon-xinxi"></i></a></li>
										<li><a href="#"><i class="iconfont icon-zhuanfa"></i></a></li>
									</ul>
								</div>
							</div>
							<!--浏览次数结束-->
							<div class="femge">
							</div>
							<!--评论开始-->
							<div class="comment">
								<i class="iconfont icon-paizhao"></i>
								<input type="text" placeholder="评论">
							</div>
							<!--评论结束-->
						</div>
						<!--头像和动态结束-->

					</div>
					<!--主页结束-->
					<!--相册开始-->
					<div class="zhuye">
						<div class="pageImg">
							<!--相片的创建时间开始-->
							<div class="newtime">
								<!--创建时间开始-->
								<div class="newimgs">
									<span>创建最新时间</span>
									<div class="xiajiantou">
										<a href="#">
											<i class="iconfont icon-jiantou-copy"></i>
										</a>
									</div>
									<!--下拉框开始-->
									<div class="xialakuagn kuangzi">
										<ul>
											<li>创建时间最新</li>
											<li>相片数量最多</li>
											<li>相片名称</li>
										</ul>
									</div>
									<!--下拉框结束-->
								</div>
								<!--创建时间结束-->
								<!--相册名称开始-->
								<div class="imgName">相册名称</div>
								<!--相册名称结束-->
								<!--创建新相册开始-->
								<div class="newxiagnce">
									<a href="#">创建新相册</a>
								</div>
								<!--创建新相册结束-->
							</div>
							<!--相片创建的时间结束-->
							<div class="xiangpianqu">
								<p>抱歉！暂无照片</p>
							</div>
						</div>
					</div>

					<!--相册结束-->
					<!--我参与的活动开始-->
					<div class="zhuye">
						<div class="huohuod">
							<div class="wencanyu">
								<p>抱歉!您暂未参加任何活动!</p>
								<button><a href="#">立即参加</a></button>
							</div>
							<!--参加活动开始-->
							<div class="activitys">
								<!--正在进行的活动开始-->
								<div class="aciivtys1">
									<p>正在进行</p>	
									<div class="Conduct"></div>
									<div class="Riding">
										<div class="Riding-left">
											<a href=""><img src="/imgs/ybb_qx.png"></a>
										</div>
										<!--右边的文字内容开始-->
										<div class="Riding-right">
											<p><span>柏岁网</span><span class="qixingriding">骑行活动</span></p>
											<div class="summary">
												<span class="summaryas">内容概要:</span>
												骑行是一种健康自然的运动旅游方式 ，能充分享受旅行过程之美 。一辆单车，一个背包即可出行 ，简单又环保。在不断而来的困难当中体验挑战…
											</div>
										</div>
										<!--右边的文字内容结束-->
									</div>
									<div class="Riding">
										<div class="Riding-left">
											<a href=""><img src="/imgs/ybb_qx.png"></a>
										</div>
										<!--右边的文字内容开始-->
										<div class="Riding-right">
											<p><span>柏岁网</span><span class="qixingriding">骑行活动</span></p>
											<div class="summary">
												<span class="summaryas">内容概要:</span>
												骑行是一种健康自然的运动旅游方式 ，能充分享受旅行过程之美 。一辆单车，一个背包即可出行 ，简单又环保。在不断而来的困难当中体验挑战…
											</div>
										</div>
										<!--右边的文字内容结束-->
									</div>
								</div>
								<!--正在进行的活动结束-->
								<!--正在进行的活动开始-->
								<div class="aciivtys1">
									<p>已结束</p>	
									<div class="Conduct"></div>
									<div class="Riding">
										<div class="Riding-left">
											<a href=""><img src="/imgs/ybb_qx1.png"></a>
										</div>
										<!--右边的文字内容开始-->
										<div class="Riding-right">
											<p><span>柏岁网</span><span class="qixingriding">形象评比活动</span></p>
											<div class="summary">
												<span class="summaryas">内容概要:</span>
												骑行是一种健康自然的运动旅游方式 ，能充分享受旅行过程之美 。一辆单车，一个背包即可出行 ，简单又环保。在不断而来的困难当中体验挑战…
											</div>
										</div>
										<!--右边的文字内容结束-->
									</div>
								</div>
								<!--正在进行的活动结束-->
							</div>
							<!--参加活动结束-->
						</div>
					</div>
					<!--主我参与的活动结束-->
				</div>

				<!--内容区域右边部分开始-->
				<div class="content-right">
					<div class="xingqi">
						<div class="xingqi-left">
							<span class="xiangqi">周三</span>
							<span class="riqi">9月25日</span>
						</div>
						<div class="qiandao">
							<span class="qiandao1">签到</span>
							<span class="qiandaotian">10天</span>
						</div>
					</div>
					<div class="fangke">
						<!--我的访客开始-->
						<div class="fagnke">
							<span>我的访客</span>
						</div>
						<!--访客图片区开始-->
						<div class="fangke-img">
							<ul>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_2.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_3.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_4.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_5.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_6.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_7.png">
								<p>2017-06-05</p>
								</a></li>
							</ul>
						</div>
						<div class="left-jian">
							<div><a href="#"><img src="/imgs/lb_rankLeft.png"></a></div>
							<div><a href="#"><img src="/imgs/lb_rankRight.png"></a></div>
						</div>
						<div class="xian2"></div>
						<div class="liulan">
							<div class="liulan-left">
								<span>今日浏览</span>
								<span>28</span>
							</div>
							<div class="liulan-right">
								<span>总浏览</span>
								<span>11596</span>
							</div>
						</div>
						<!--访客图片区结束-->
						<!--我的访客结束-->
					</div>
				</div>
				<!--内容区域右边部分结束-->
			</div>
			<!--内容区域结束-->
		</div>
	</div>
<script src="/js/ybb_index_pd.js"></script>
<% include layouts/footer %>