<!-- 首页 -->
<!--头部-->
<% include layouts/header %>
<!-- <link rel="stylesheet" href="http://at.alicdn.com/t/font_409751_89mdlane4tdcmcxr.css"> -->
<link rel="stylesheet" href="/css/ybb_index_mp.css">

	<!--身体-->
	<div class="bodys">
		<div class="body">
			<!--前面位置部分开始-->
			<p class="position">您当前的位置:<span>个人空间</span></p>
			<!--前面位置部分结束-->
			<!--详细资料区域开始-->
			<div class="information">
				<!--头像开始-->
				<div class="HeadPortrait">
					<a href="#">
						<img src="/imgs/ybb_1.png">
					</a>
				</div>
				<!--头像结束-->
				<!--介绍开始-->
				<div class="PersonalCenter">
					<p>一杯敬苍天的个人中心</p>
					<div class="PersonalCenter-div">
						<span>活跃度：9999</span>
						<span>积分：12006</span>
						<span>好友：552</span>
						<span>年龄：52</span>
						<span>来自：<span>山西</span>,<span>太原</span></span>
					</div>
					<!--勋章开始-->
					<div class="PersonalCenter-div-xunzhang">
						<p>勋章：</p>
						<p>礼物：</p>
					</div>
					<!--勋章结束-->
				</div>
				<!--介绍结束-->
				<!--编辑资料开始-->
				<div class="modify">
					<span style="margin-top:10px;"><a href="/editPersonal?_id=<%= user._id %>">修改密码</a></span>
					<span style="margin-top:20px;"><a href="/editImg?_id=<%= user._id %>">修改头像</a></span>
				</div>
				<!--编辑资料结束-->
			</div>
			<!--详细资料区域结束-->
			<!--内容区域开始-->
			<div class="body-container">
				<!--内容左边区域开始-->
				<div class="content-left">
					<ul>
						<li><a href="/grkj/pd/?tab=index">个人动态</a></li>
						<li><a href="/grkj/rv/?tab=index">与我相关</a></li>
						
						<li><a href="/grkj/mbf/?tab=index">我的好友</a></li>
						<li><a href="/grkj/sy/?tab=index">我的贴吧</a></li>
						<li  class="personal"><a href="#">我的积分</a></li>
						<li><a href="/grkj/ma/?tab=index">我的勋章</a></li>
						<li><a href="/grkj/sc/?tab=index">积分商城</a></li>
					</ul>
				</div>
				<!--内容左边区域结束-->

				<!--内容的中间区域开始-->
				<div class="content-center">
					<!--选项卡开始-->
					<div class="option">
						<ul>
							<li><a href="#" class="haoyou">支出记录</a></li>
							<li><a href="#">收入记录</a></li>
						</ul>
						<div class="cian"></div>
					</div>
					<!--选项卡结束-->
					<!--内容区域开始-->
					<div class="Friends xianshi">
						<!--添加好友开始-->
						<div class="AddTo">
							<p>抱歉!您暂未花费任何积分!</p>
							<button><a href="#">前去使用</a></button>
						</div>
						<!--添加好友结束-->
						<!--支出记录开始-->
						<div class="zhichu">
							<div class="table">
								<div class="table-top">
									<span>订单号：</span>65432153456354894321655
								</div>
								<div class="table-left">
									<span>兑换商品：</span>补签卡
								</div>
								<div class="table-center">
									<span>消费：</span>20积分
								</div>
								<div class="table-ritht">兑换成功</div>
							</div>
							<div class="table">
								<div class="table-top">
									<span>订单号：</span>5646132184983216151321
								</div>
								<div class="table-left">
									<span>兑换商品：</span>电子血压计
								</div>
								<div class="table-center">
									<span>消费：</span>800积分
								</div>
								<div class="table-ritht">兑换成功</div>
							</div>
							<div class="table">
								<div class="table-top">
									<span>订单号：</span>5646132184983216151321
								</div>
								<div class="table-left">
									<span>兑换商品：</span>狼毫毛笔
								</div>
								<div class="table-center">
									<span>消费：</span>300积分
								</div>
								<div class="table-ritht">兑换成功</div>
							</div>
						</div>
						<!--支出记录jieshu-->
					</div>
					<!--内容区域结束-->
					<!--内容区域开始-->
					<div class="Friends">
						<!--添加好友开始-->
						<div class="AddTo">
							<p>抱歉!您暂未获得任何积分!</p>
							<button><a href="#">如何获得</a></button>
						</div>
						<!--添加好友结束-->

						<!--支出记录开始-->
						<div class="zhichu">
							<div class="table">
								<div class="table-top">
									<span>订单号：</span>65432153456354894321655
								</div>
								<div class="table-left">
									注册成功
								</div>
								<div class="table-center">
									<span>获得：</span>50积分
								</div>
								<div class="table-ritht">成功到账</div>
							</div>
							<div class="table">
								<div class="table-top">
									<span>订单号：</span>5646132184983216151321
								</div>
								<div class="table-left">
									累计登陆
								</div>
								<div class="table-center">
									<span>获得：</span>1积分
								</div>
								<div class="table-ritht">成功到账</div>
							</div>
							<div class="table">
								<div class="table-top">
									<span>订单号：</span>5646132184983216151321
								</div>
								<div class="table-left">
									发起活动
								</div>
								<div class="table-center">
									<span>获得：</span>30积分
								</div>
								<div class="table-ritht">成功到账</div>
							</div>
						</div>
						<!--支出记录jieshu-->
					</div>
					<!--内容区域结束-->
							
				
				</div>
				<!--内容的中间区域结束-->

				<!--内容区域右边部分开始-->
				<div class="content-right">
					<div class="xingqi">
						<div class="xingqi-left">
							<span class="xiangqi">周三</span>
							<span class="riqi">9月25日</span>
						</div>
						<div class="qiandao">
							<span class="qiandao1">签到</span>
							<span class="qiandaotian">10天</span>
						</div>
					</div>
					<div class="fangke">
						<!--我的访客开始-->
						<div class="fagnke">
							<span>我的访客</span>
						</div>
						<!--访客图片区开始-->
						<div class="fangke-img">
							<ul>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_2.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_3.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_4.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_5.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/ybb_6.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/ybb_7.png">
								<p>2017-06-05</p>
								</a></li>
							</ul>
						</div>
						<div class="left-jian">
							<div><a href="#"><img src="/imgs/lb_rankLeft.png"></a></div>
							<div><a href="#"><img src="/imgs/lb_rankRight.png"></a></div>
						</div>
						<div class="xian2"></div>
						<div class="liulan">
							<div class="liulan-left">
								<span>今日浏览</span>
								<span>28</span>
							</div>
							<div class="liulan-right">
								<span>总浏览</span>
								<span>11596</span>
							</div>
						</div>
						<!--访客图片区结束-->
						<!--我的访客结束-->
					</div>
				</div>
				<!--内容区域右边部分结束-->
			</div>
			<!--内容区域结束-->
		</div>
	</div>
<script src="/js/ybb_index_mp.js"></script>
<% include layouts/footer %>