<!-- 首页 -->
<!--头部-->
<% include layouts/header %>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_409751_89mdlane4tdcmcxr.css">
<link rel="stylesheet" href="/css/ybb_index_rv.css">
	<!--身体-->
	<div class="bodys">
		<div class="body">
			<!--前面位置部分开始-->
			<p class="position">您当前的位置:<span>个人空间</span></p>
			<!--前面位置部分结束-->
			<!--详细资料区域开始-->
			<div class="information">
				<!--头像开始-->
				<div class="HeadPortrait">
					<a href="#">
						<img src="/imgs/1.png">
					</a>
				</div>
				<!--头像结束-->
				<!--介绍开始-->
				<div class="PersonalCenter">
					<p>一杯敬苍天的个人中心</p>
					<div class="PersonalCenter-div">
						<span>活跃度：9999</span>
						<span>积分：12006</span>
						<span>好友：552</span>
						<span>年龄：52</span>
						<span>来自：<span>山西</span>,<span>太原</span></span>
					</div>
					<!--勋章开始-->
					<div class="PersonalCenter-div-xunzhang">
						<p>勋章：</p>
						<p>礼物：</p>
					</div>
					<!--勋章结束-->
				</div>
				<!--介绍结束-->
				<!--编辑资料开始-->
				<div class="modify">
					<span><a href="#">修改资料</a></span>
				</div>
				<!--编辑资料结束-->
			</div>
			<!--详细资料区域结束-->
			<!--内容区域开始-->
			<div class="body-container">
				<!--内容左边区域开始-->
				<div class="content-left">
					<ul>
						<li><a href="/pd">个人动态</a></li>
						<li  class="personal"><a href="#">与我相关</a></li>
						
						<li><a href="/mbf">我的好友</a></li>
						<li><a href="#">我的贴吧</a></li>
						<li><a href="#">我的积分</a></li>
						<li><a href="#">我的勋章</a></li>
						<li><a href="#">积分商城</a></li>
					</ul>
				</div>
				<!--内容左边区域结束-->
				
				<!--内容中间区域开始-->
				<div class="zCenter">
					<!--选项卡开始-->
					<div class="Opttab">
						<ul>
							<li><a href="#"  class="xuan">回复我的</a></li>
							<li><a href="#">提到我的</a></li>
							<li><a href="#">我收藏的</a></li>
						</ul>
					</div>
					<!--选项卡结束-->

					<!--回复我的开始-->
					<div class="ReplyMe xainshi">
						<!--没哟回复开始-->
						<div class="NoReply">
							<p>抱歉!您暂未收到任何回复!</p>
							<p>试试多发些帖子吧。</p>
						</div>
						<p class="btnq">
							<button><a href="#">立即发帖</a></button>
						</p>
						<!--没有回复结束-->
					</div>
					<!--回复我的结束-->
					<!--提到我的开始-->
					<div class="ReplyMe">
						<!--没哟回复开始-->
						<div class="NoReply">
							<p>抱歉!您暂未被任何人提到!</p>
							<p>试试多发些帖子吧。</p>
						</div>
						<p class="btnq">
							<button><a href="#">立即发帖</a></button>
						</p>
						<!--没有回复结束-->
						<!--有回复了开始-->
						<div class="YesReply">
							<!--提到我的开始-->
							<div class="Mention">
								<p>提到我的</p>
							</div>
							<!--提到我的结束-->
							<!--提到我的内容开始-->
							<div class="kasihiud">
								<div class="quanbuk"></div>
								<div class="task">
									<div class="character">
										<div class="character-img"><a href=""><img src="/imgs/kk.png"></a></div>
										<div class="shangxia">
											<p>一杯敬死亡</p>
											<span>22:00</span>
										</div>
										<div class="riqi">2017-09-27</div>
									</div>
									<div class="redian">
										<span class="tianai">@一杯敬苍天</span>
										<span class="hsj"><a href="#">回复</a></span>
									</div>
									<div class="aitet">
										<p>提到我的主题:“机车比赛”>“比赛吧”</p>
									</div>
								</div>

								<div class="quanbuk"></div>
								<div class="task">
									<div class="character">
										<div class="character-img"><a href=""><img src="/imgs/kk.png"></a></div>
										<div class="shangxia">
											<p>温柔了铁窗</p>
											<span>22:00</span>
										</div>
										<div class="riqi">2017-09-27</div>
									</div>
									<div class="redian">
										<span class="tianai">@一杯敬苍天</span>
										<span class="hsj"><a href="#">回复</a></span>
									</div>
									<div class="aitet">
										<p>提到我的主题:“机车比赛”>“比赛吧”</p>
									</div>
								</div>
							</div>
							<!--提到我的内容jieshu-->
						</div>
						<!--有回复了结束-->
					</div>
					<!--提到我的结束-->
					<!--我参与的开始-->
					<div class="ReplyMe">
						<!--没哟回复开始-->
						<div class="NoReplya">
							<p>抱歉!您暂未藏任何帖子!</p>
						</div>
						<p class="btnq">
							<button><a href="#">立即参加</a></button>
						</p>
						<!--没有回复结束-->

						<!--有回复了开始-->
						<div class="PostTie">
							<div class="biaoti">
								<span>标题</span>
								<span class="left">作者</span>
								<span class="zhuangtai">更新状态</span>
							</div>
							<div class="xianz"></div>
							<div class="jichejiqiao">
								<p>
									<span>重机车驾驶技巧</span>
									<span class="zuo">一杯敬死亡</span>
									<span class="zuobia">无更新</span>
								</p>
							</div>
							<div class="xianz"></div>
							<div class="jichejiqiao">
								<p>
									<span>重机车驾驶技巧</span>
									<span class="zuo">一杯敬死亡</span>
									<span class="zuobia">无更新</span>
								</p>
							</div>
							<div class="xianz"></div>
							<div class="jichejiqiao">
								<p>
									<span>重机车驾驶技巧</span>
									<span class="zuo">一杯敬死亡</span>
									<span class="zuobia">无更新</span>
								</p>
							</div>
							<div class="xianz"></div>
							<div class="jichejiqiao">
								<p>
									<span>重机车驾驶技巧</span>
									<span class="zuo">一杯敬死亡</span>
									<span class="zuobia">无更新</span>
								</p>
							</div>
						</div>
						<!--有回复了结束-->
					</div>
					<!--我参与的结束-->
				</div>
				<!--内容中间区域结束-->

				


				<!--内容区域右边部分开始-->
				<div class="content-right">
					<div class="xingqi">
						<div class="xingqi-left">
							<span class="xiangqi">周三</span>
							<span class="riqi">9月25日</span>
						</div>
						<div class="qiandao">
							<span class="qiandao1">签到</span>
							<span class="qiandaotian">10天</span>
						</div>
					</div>
					<div class="fangke">
						<!--我的访客开始-->
						<div class="fagnke">
							<span>我的访客</span>
						</div>
						<!--访客图片区开始-->
						<div class="fangke-img">
							<ul>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/2.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/3.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/4.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/5.png">
								<p>2017-06-05</p>
								</a></li>
								<li class="fangke-li"><a href="#">
								<img src="/imgs/6.png">
								<p>2017-06-05</p>
								</a></li>
								<li><a href="#">
								<img src="/imgs/7.png">
								<p>2017-06-05</p>
								</a></li>
							</ul>
						</div>
						<div class="left-jian">
							<div><a href="#"><img src="/imgs/left.png"></a></div>
							<div><a href="#"><img src="/imgs/right.png"></a></div>
						</div>
						<div class="xian2"></div>
						<div class="liulan">
							<div class="liulan-left">
								<span>今日浏览</span>
								<span>28</span>
							</div>
							<div class="liulan-right">
								<span>总浏览</span>
								<span>11596</span>
							</div>
						</div>
						<!--访客图片区结束-->
						<!--我的访客结束-->
					</div>
				</div>
				<!--内容区域右边部分结束-->
			</div>
			<!--内容区域结束-->
		</div>
	</div>
<script src="/js/ybb_index_rv.js"></script>
<% include layouts/footer %>