<% include layouts/header %>
	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_indexs.css">
	<div class="container">
		<p class="p1">您当前所在的位置： 健康</p>
		<div class="introduce">
			<div class="show">
				<h3>鼓汁煎海虾</h3>
				<p class="p2">2016-01 9:00  来源：柏岁小编   分享：50   点击60</p>
				<img src="/imgs/zgq_4.png">
			</div>
			<div class="material">
				<h3>材料</h3>
				<ul>
					<li>主料：海虾150克</li>
					<li>调料：白皮大蒜3克，豆豉5克，大葱5克，植物油18克，盐1克，味精1克，豌豆淀粉4克，胡椒粉0克 <br>做法</li>
					<li>1.蒜剁成蒜蓉：豆捣成泥容状；姜切成姜末；葱切成葱花；淀粉加水适量调均成湿淀粉越8克</li>
					<li>2.用油15克起锅，讲海虾放入油中煎香；</li>
					<li>3.加入蒜蓉、豆豉泥、姜米，注入二汤100毫升，用精盐，味精调味，加盖盖着；</li>
					<li>4.待熟，用湿淀粉打芡，加上胡椒粉，包尾油3克和均，上碟便成。<br>小诀窍</li>
					<li>食物相克：</li>
					<li>海虾：虾忌与某些水果同吃。虾含有比较丰富的蛋白质和钙等营养物质。如果把它们与含有鞣酸的水果，如葡萄、<br>石榴、山楂、柿子等同食，不仅会降低蛋白质的营养价值，而且鞣酸和钙离子结合形成不溶性结合物刺激肠胃，引<br>起人体不适，出现呕吐、头晕、恶心和腹痛腹泻等症状。海鲜与这些水果同吃至少应间隔2小时。<br>相关
					<br>豉汁煎海虾  豉汁  虾</li>
				</ul>
			</div>
		</div>
		<div class="review">
			<div class="line"></div>
			<div class="comment">评论专区</div>
			<div class="signin">
				<input type="text" name="">
				<button>登录并评论</button>
			</div>
			<div class="share">
				<a href="#" class="a1">分享</a>
				<a href="#" class="a2">评论</a>
			</div>
			<div class="line"></div>
			<div class="comment">所有评论</div>
			<div class="reply">
				<div>
					<div class="left">
						<a href="#">
							<img src="./images/zgq_1.png">
						</a>
					</div>
					<div class="right">
						<p>醉在花甲年</p>
						<p style="margin-top: 40px;">点个赞</p>
						<span>2017-09-23  12:23:34  举报  来自南周阅读器  Android  版</span>
					</div>
					<div class="reply1">
						<a href="#">回复</a>
					</div>
				</div>
				<div>
					<div class="left">
						<a href="#">
							<img src="./images/zgq_3.png">
						</a>
					</div>
					<div class="right">
						<p>枫叶情</p>
						<p style="margin-top: 40px;">文章还可以，公整简介</p>
						<span>2017-09-2  10:05:22  举报  来自南周阅读器  Android  版</span>
					</div>
					<div class="reply1">
						<a href="#">回复</a>
					</div>
				</div>
				<div>
					<div class="left">
						<a href="#">
							<img src="./images/zgq_2.png">
						</a>
					</div>
					<div class="right">
						<p>姜是老的辣</p>
						<p style="margin-top: 40px;">我觉得质量上去了，拿出实力证明给消费者看消费者会回来的</p>
						<span>2017-08-16  03:30:59  举报  来自南周阅读器  Android  版</span>
					</div>
					<div class="reply1">
						<a href="#">回复</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include layouts/footer %>