<% include layouts/header %>

	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_recipes.css">
	<div class="container">
		<p>您当前所在位置：健康》医疗食谱</p>
		<!-- 推荐食谱 -->
		<div class="line"></div>
		<div class="comment">为您推荐专属食谱</div>

		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_4.png"></a>
			<div class="right">
				<div class="right1">豉汁煎海虾</div>
				<div class="right2">
					<a href="asd/?tab=healthy" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (1).png"></a>
			<div class="right">
				<div class="right1">鲍鱼四宝羹</div>
				<div class="right2">
					<a href="asd/?tab=healthy" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (2).png"></a>
			<div class="right">
				<div class="right1">糖霜桃仁</div>
				<div class="right2">
					<a href="asd/?tab=healthy" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (3).png"></a>
			<div class="right">
				<div class="right1">腰果拌西芹</div>
				<div class="right2">
					<a href="asd/?tab=healthy" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (4).png"></a>
			<div class="right">
				<div class="right1">玉米虾仁</div>
				<div class="right2">
					<a href="asd/?tab=healthy" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (5).png"></a>
			<div class="right">
				<div class="right1">柳松茸烧冬笋</div>
				<div class="right2">
					<a href="asd/?tab=healthy" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (6).png"></a>
			<div class="right">
				<div class="right1">鸡丝拌海蜇 </div>
				<div class="right2">
					<a href="asd/?tab=healthy" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
	</div>
<script src="/js/jquery.js"></script>
<script src="/js/recipes.js"></script>
<% include layouts/footer %>