<% include layouts/header %>
	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_hospital.css">
	<div class="container">
		<p>您当前所在位置：健康》医院</p>
		<!-- 体验中心 -->
		<div class="journalis">
			<h3>北京民众体检中</h3>
			<img src="/imgs/zgq_10.png" class="tu1">
			<h3 style="color: #FF7272;">报名优惠7.5折</h3>

			<p>北京民众体检门诊部有限责任公司，是由中国老教授协会医药专业委员会与《健康报》副理事长单位共同发起、成立的现代化高端体检知名品牌机构。 作为中国“未来式体检”的开创者，以北京为中心，拥有直营及合作管理的分支机构近30家，辐射华北、华中、华东、西南等地区。作为中国老教授协会医药专业委员会技术协作单位，汇集庞大的医疗行业权威医生阵容及高端体检设备，检线70%为副主任以上级别资深健检医生，更有中国老教授协会医生坐诊，国际化、一站式的体检管理模式，引领国内高端体检行业新潮流。</p>
			<img src="/imgs/zgq_17.png" class="tu2">
			<p>      民众体检门诊部各具特色，其中，北京民众体检门诊部拥有男宾区、女宾区、VIP专区等多个高端检区，全方位满足会员高端服务需求。天津河东、河西、华苑民众体检门诊部，三大连锁分支汇聚国内高端体检设备和医生团队，成为天津高端体检的行业标杆，优质服务得到顾客一致认可;地处太湖湖畔的无锡民众体检门诊部，集现代医疗科技与旅游体检为一体，领跑华东区“未来式体检”;秦皇岛分院的成立，则与北京、天津两地形成“立体化、点线面”的服务布局;重庆奥体分院的成立，成为西南地区大型、高端的健康管理机构;泊头市医院引入民众体检个性化体检模式，凝聚品质精华，这将为民众体检门珍部全面发展，铸就中国高端体检品牌连锁之路开辟新局面。</p>
		</div>
		<!-- 报名 -->
		<div class="signup">
			<a href="#">立即报名</a>
			<p style="font-size: 24px;">报名截止时间：2017-10-21</p>
			<p>联系电话：18534444440</p>
			<p>地点：北京市海淀区西直门北大街45-6号</p>
		</div>
	</div>
<% include layouts/footer %>