<% include layouts/header %>
	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_healthy.css">
	<div class="container">
		<p>您当前所在位置：健康</p>
		<!-- 养生介绍 -->
		<div class="diet">
			<div>
				<a href="#" class="tu"><img src="/imgs/zgq_5.png"></a>
			</div>
			<div class="right">
				<h3>老人饮食养生：少三白多三黑</h3>
				<p>[导语]   秋季是养生的好时节，老人们为了<br>身体健康，在秋季要及时做好保养。以下为<br>大家介绍了老人秋季养生的技巧以及注意事<br>项，想要了解更多的话，请往下看。</p>
				<p style="text-indent: 1em;">  虽然老人养生不分季节，但秋天的气候干<br>燥温差大，老人秋季有很多常见高发病，所<br>以养生预防至关重要。老人们想要健康度过<br>秋季，那自然要多加了解老人秋季养生知<br>识。那么老人秋季如何养生呢？老人秋季养<br>生注意事项有哪些呢？接下来将一一为大家<br>介绍，供大家参考。</p>
			</div>
		</div>
		<!-- 养生区域 -->
		<div class="line"></div>
		<div class="comment">养生</div>
		<div class="health">
			<div class="introduce">
				<a href="/healthy/xsw/?tab=healthy">
					<img src="/imgs/zgq_7.png">
					<div class="notes">老人食欲不佳</div>
				</a>
				<div class="jieshao">
					<p>1.中老年多吃健康的东西</p>
					<p>2.老人消化不良小妙招</p>
					<p>3.老年人用药不对伤健康</p>
					<p>4.老人养生 防病又长寿</p>
					<p>5.如何提高老年人抵抗力</p>
				</div>
			</div>
			<div class="introduce">
				<a href="/healthy/xsw/?tab=healthy">
					<img src="/imgs/zgq_6.png">
					<div class="notes">老人食欲不佳</div>
				</a>
				<div class="jieshao">
					<p>1.中老年多吃健康的东西</p>
					<p>2.老人消化不良小妙招</p>
					<p>3.老年人用药不对伤健康</p>
					<p>4.老人养生 防病又长寿</p>
					<p>5.如何提高老年人抵抗力</p>
				</div>
			</div>
			<div class="introduce">
				<a href="/healthy/xsw/?tab=healthy">
					<img src="/imgs//zgq_8.png">
					<div class="notes">老人食欲不佳</div>
				</a>
				<div class="jieshao">
					<p>1.中老年多吃健康的东西</p>
					<p>2.老人消化不良小妙招</p>
					<p>3.老年人用药不对伤健康</p>
					<p>4.老人养生 防病又长寿</p>
					<p>5.如何提高老年人抵抗力</p>
				</div>
			</div>
			<div class="introduce">
				<a href="/healthy/xsw/?tab=healthy">
					<img src="/imgs/zgq_9.png">
					<div class="notes">老人食欲不佳</div>
				</a>
				<div class="jieshao">
					<p>1.中老年多吃健康的东西</p>
					<p>2.老人消化不良小妙招</p>
					<p>3.老年人用药不对伤健康</p>
					<p>4.老人养生 防病又长寿</p>
					<p>5.如何提高老年人抵抗力</p>
				</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="comment">锻炼</div>
		<div class="lunbo">
			<ul id="entertainment" class="specific">
					<li>
						<a href="#">
							<img src="/imgs/zgq_19.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/imgs/zgq_20.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/imgs/zgq_21.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/imgs/zgq_19.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/imgs/zgq_20.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/imgs/zgq_21.png" alt="">
						</a>
					</li>
				</ul>
		</div>
		<div class="line"></div>
		<!-- 医院区域 -->
		<div class="comment">医院</div>
		<div class="address">
			<div class="hospital">
				<div class="hospital1">
					<a href="#">
						<img src="/imgs/zgq_10.png">
					</a>
					<a href="/healthy/zaq/?tab=healthy" class="make">点击预约</a>
				</div>
				<div class="hospital2">
					<h4>北京市民体验中心</h4>
					<p>地点：北京市朝阳区外馆斜街51号凯景铭座三层 </p>
					<p>联系电话：13260231063</p>
					<p>报名截止时间：2017-10-21</p>
					<p>简介:众健康管理(体检)连锁机构为中国十大品牌体检机构，由北京民众医院投资....</p>
				</div>
			</div>
			<div class="hospital">
				<div class="hospital1">
					<a href="#">
						<img src="/imgs/zgq_10.png">
					</a>
					<a href="/healthy/zaq/?tab=healthy" class="make">点击预约</a>
				</div>
				<div class="hospital2">
					<h4>美年大健康 </h4>
					<p>地点：北京市海淀区西直门北大街45-6号 </p>
					<p>联系电话：18534444440</p>
					<p>报名截止时间：2017-10-21</p>
					<p>简介:美年大健康集团年服务客户逾500万人次，开创了PDCA健康管理理念，植....</p>
				</div>
			</div>
		</div>
		<!-- 爱推区域 -->
		<div class="line"></div>
		<div class="comment">爱推</div>
		<div class="lovepush">
			<a href="qwe/?tab=healthy" style="background: url(/imgs/zgq_14.png);">
				健康知识小测试
			</a>
			<a href="bgt/?tab=healthy" style="background: url(/imgs/zgq_13.png);">
				专属医疗食谱
			</a>
			<a href="#" style="background: url(/imgs/zgq_12.png);">
				百岁榜单
			</a>
		</div>
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/zgq_1.js"></script>
<% include layouts/footer %>