<% include layouts/header %>
	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_answer.css">
	<div class="container">
		<p>您当前所在位置：健康》健康知识测验</p>
		<!-- 答题区域 -->
		<div class="test">
			<div class="answer">
				<div class="answer1">
					2017食品健康知识小测验
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					百种健康食品的用途
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					健康的含义
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					2017食品健康知识小测验
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					百种健康食品的用途
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					健康的含义
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					2017食品健康知识小测验
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					百种健康食品的用途
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
			<div class="answer">
				<div class="answer1">
					健康的含义
				</div>
				<a href="/healthy/cde/?tab=healthy">立即答题</a>
			</div>
		</div>
	</div>
<% include layouts/footer %>