<% include layouts/header %>

	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_recommend.css">
	<div class="container">
		<p>您当前所在位置：健康》医疗食谱</p>
		<!-- 推荐食谱 -->
		<div class="line"></div>
		<div class="comment">为您推荐专属食谱</div>

		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_4.png"></a>
			<div class="right">
				<div class="right1">豉汁煎海虾</div>
				<div class="right2">
					<a href="#" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (1).png"></a>
			<div class="right">
				<div class="right1">鲍鱼四宝羹</div>
				<div class="right2">
					<a href="#" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (2).png"></a>
			<div class="right">
				<div class="right1">糖霜桃仁</div>
				<div class="right2">
					<a href="#" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (3).png"></a>
			<div class="right">
				<div class="right1">腰果拌西芹</div>
				<div class="right2">
					<a href="#" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (4).png"></a>
			<div class="right">
				<div class="right1">玉米虾仁</div>
				<div class="right2">
					<a href="#" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (5).png"></a>
			<div class="right">
				<div class="right1">柳松茸烧冬笋</div>
				<div class="right2">
					<a href="#" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>
		<div class="recipes">
			<a href="#" class="tu"><img src="/imgs/zgq_18 (6).png"></a>
			<div class="right">
				<div class="right1">鸡丝拌海蜇 </div>
				<div class="right2">
					<a href="#" class="collection">收藏</a>
					<span>阅读   1,324次</span>
					<span>收藏  14次</span>
				</div>
			</div>
			<div class="line1"></div>
		</div>

	</div>
	<!-- 推荐医疗食谱 -->
	<div class="recommend">
		<h3>请您认真填写，我们会为您推荐专属于您的医疗食谱，如有过敏史，请详细填写。</h3>
		<div class="symptom">
			<div class="medical">
				您有无病状史：  <input type="radio" name="sex" value="无">    无      

				<input type="radio" name="sex" value="有">   有
			</div>
			<div class="illness">
				您的病是：
				<table>
					<tr>
						<td class="display">高血压</td>
						<td>高血脂</td>
						<td>高血糖</td>
						<td>贫血</td>
					</tr>
					<tr>
						<td>心脏病</td>
						<td>冠心病</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>失眠</td>
						<td>偏头疼</td>
						<td>睡眠不好</td>
					</tr>
					<tr>
						<td>肝炎</td>
						<td>肠胃</td>
						<td>肾结石</td>
						<td>胆囊炎</td>
					</tr>
				</table>
			</div>
			<div class="choice">
				您最近一次看的病：<input type="text" name="">
				<br>
				你的过敏史：<input type="text" name="">
			</div>
			<div class="submit">
				<a href="/healthy/vfr/?tab=healthy" class="btn1">提交</a>
				<a href="#" class="btn2">重置</a>
			</div>
		</div>
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/recommend.js"></script>
<% include layouts/footer %>