<% include layouts/header %>
	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_konwledge.test.css">
	<div class="container">
		<p>您当前所在位置：健康》健康知识测验</p>
		<!-- 规则 -->
		<div class="rule">
			<p style="text-align: center;">规则</p>
			<p style="text-indent: 1.7em; margin-left: 29px;">此次测验总分为100分，共25题，时长为1个小时。90～100分得2个积分，90分以下不得分。若1小时后不提交，则视为放弃答题机会。若成绩合格，系统自动发放积分。</p>
		</div>
		<div class="time">
			<span>
				<span style="float: left;">时间：</span>
				<span id="times">
					<div id="hour">00</div><div class="maohao">:</div>
					<div id="minute">00</div><div class="maohao">:</div>
					<div id="second">00</div>
				</span>
			</span>
			<span>知识测验</span>
			<span>
				成绩：
				<input type="text" name="" value="100">
				分
			</span>
		</div>
		<div class="line"></div>
		<!-- 题目 -->
		<div class="subject">
			<ul>
				<li>
					 1、下列哪类食物可以有效地降血脂，预防心脑血管疾病？
					 <span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、白菜</P>
					 </div>
					
				</li>
				<li>
					 2、刷牙的最佳时长是
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、一分钟</P>
						 <P><span>B</span>、二分钟</P>
						 <P><span>C</span>、三分钟</P>
					 </div>	
				</li>
				<li>
					3、清晨起床时应怎样？
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、不赖床</P>
						 <P><span>B</span>、赖床3-5分钟</P>
						 <P><span>C</span>、赖床6-10分钟</P>
					 </div>	
				</li>
				<li>
					4、当患口腔疾病时，应用
					<span class="sss">(  <span></span> )</span>水漱
					 <div class="answer">
						 <P><span>A</span>、淡盐水</P>
						 <P><span>B</span>、温水</P>
						 <P><span>C</span>、矿泉水</P>
					 </div>	
				</li>
				<li>
					5、下列肉类中，哪种被誉为“脂肪含量最低的保健肉”？
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、猪肉</P>
						 <P><span>B</span>、鸭肉</P>
						 <P><span>C</span>、兔肉</P>
					 </div>	
				</li>
				<li>
					6、下列哪种食物对肠道传染疾病有很好的预防作用？
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、大葱</P>
						 <P><span>B</span>、大蒜</P>
						 <P><span>C</span>、花生</P>
					 </div>	
				</li>
				<li>
					7、预防肠道传染病，下列做法不对的是：
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、生、熟切菜板一定要分开使用。</P>
						 <P><span>B</span>、要多喝开水，不要喝生水。</P>
						 <P><span>C</span>、可以多吃凉拌菜和生菜。</P>
					 </div>	
				</li>
				<li>
					8、下类食物中那组可以有效地降低血脂和血压？
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、洋葱和芹菜</P>
						 <P><span>B</span>、红薯和黄瓜</P>
						 <P><span>C</span>、竹笋和菜花</P>
					 </div>	
				</li>
				<li>
					9、下列那种运动属于有氧运动：
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、短跑</P>
						 <P><span>B</span>、游泳</P>
						 <P><span>C</span>、篮球</P>
					 </div>	
				</li>
				<li>
					10、为了有效的预防脑中风发作，下列饮食习惯正确的是
					 <span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、低脂、低糖，少食用蛋白质食物。</P>
						 <P><span>B</span>、低盐、低脂、低糖，多食用富含维生素和蛋白质的食物。</P>
						 <P><span>C</span>、禁食肉类，多食瓜果蔬菜。</P>
					 </div>	
				</li>
				<li>
					11、人体一天最佳睡眠时间为？
					 <span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、22:00-6：00</P>
						 <P><span>B</span>、23：00-7：00</P>
						 <P><span>C</span>、23：00-06：00</P>
					 </div>	
				</li>
				<li>
					12、早餐哪两种食物可以多吃？
					 <span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、稀饭，鸡蛋</P>
						 <P><span>B</span>、水，蔬菜</P>
						 <P><span>C</span>、豆浆，油条</P>
						 <P><span>D</span>、面条，面包</P>
					 </div>	
				</li>
				<li>
					13、胡萝卜素有利于身体健康，为了有利于更好的吸收胡萝卜素， 下列关于胡萝卜的正确食用方法是
					 <span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、清蒸胡萝卜</P>
						 <P><span>B</span>、生吃胡萝卜</P>
						 <P><span>C</span>、用油烹制胡萝卜</P>
					 </div>	
				</li>
				<li>
					14、早餐十分重要，如长期不吃早餐对身体危害很大，易引起
					<span class="sss">(  <span></span> )</span>疾病。
					 <div class="answer">
						 <P><span>A</span>、胆结石和胃炎</P>
						 <P><span>B</span>、营养不良和低血压</P>
						 <P><span>C</span>、肠炎和便秘</P>
					 </div>	
				</li>
				
				<li>
					15、多吃下列哪组食物对头发有利
					 <span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、蜂蜜</P>
						 <P><span>B</span>、黑芝麻、核桃等坚果类</P>
						 <P><span>C</span>、肉、蛋 、奶类</P>
					 </div>	
				</li>
				<li>
					16、补充铁剂可以预防缺铁性贫血，下列哪组食物中含铁最高
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、鸡肉和米饭	</P>
						 <P><span>B</span>、豆腐和牛奶</P>
						 <P><span>C</span>、菠菜和猪肝</P>
					 </div>	
				</li>
				<li>
					17、以下食物中含钙最高的是
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、虾皮</P>
						 <P><span>B</span>、苹果</P>
						 <P><span>C</span>、牛肉</P>
					 </div>	
				</li>
				<li>
					18、每人每天最好喝
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、7</P>
						 <P><span>B</span>、8</P>
						 <P><span>C</span>、5</P>
					 </div>	
				</li>
				<li>
					19、什么时间吃水果比较好？
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、饭前食用</P>
						 <P><span>B</span>、饭中食用</P>
						 <P><span>C</span>、饭后食用</P>
					 </div>	
				</li>
				<li>
					20、老年人的饮食应该做到：
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、大鱼、大肉保证营养。</P>
						 <P><span>B</span>、想吃什么就吃什么，不予限制。</P>
						 <P><span>C</span>、清淡少盐，合理搭配。</P>
					 </div>	
				</li>
				<li>
					21、治疗高血压的有效运动方法不包括
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、步行</P>
						 <P><span>B</span>、太极拳</P>
						 <P><span>C</span>、剧烈运动</P>
					 </div>	
				</li>
				<li>
					22、下列哪些运动适合老年人
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、7</P>
						 <P><span>B</span>、8</P>
						 <P><span>C</span>、5</P>
					 </div>	
				</li>
				<li>
					23刮痧是一种绿色自然理疗方法，但它也有一定的禁忌症，下列哪种疾病患者不宜刮痧
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、头痛和高血压</P>
						 <P><span>B</span>、血液病患者</P>
						 <P><span>C</span>、乳腺增生和妇科炎症</P>
					 </div>	
				</li>
				<li>
					24、进行刮痧理疗之后，必须做到的注意事项有
					<span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、防风，保暖，至少三小时以后再洗澡。</P>
						 <P><span>B</span>、热敷理疗部位。</P>
						 <P><span>C</span>、痧不退也可再次进行刮痧。</P>
					 </div>	
				</li>
				<li>
					25、老年人在运动之前应该先
					 <span class="sss">(  <span></span> )</span>
					 <div class="answer">
						 <P><span>A</span>、做4分钟左右热身运动</P>
						 <P><span>B</span>、饮一杯开水</P>
						 <P><span>C</span>、吃饱</P>
						 <P><span>D</span>、洗澡</P>
					 </div>	
				</li>
			</ul>
		</div>
	</div>
<script src="/js/jquery.js"></script>
<script src="/js/konw.js"></script>
<% include layouts/footer %>