<% include layouts/header %>
	<!-- 引入css文件 -->
	<link rel="stylesheet" href="/css/zgq_journalism.css">
	<div class="container">
		<p>您当前所在位置：健康</p>
		<!-- 新闻区域 -->
		<div class="journalis">
			<h3>健身不是年轻人专利 老年人也可参与	</h3>
			<p class="p2">2016-03-01 9:00   来源：柏岁小编   分享：50  点击60</p>
			<img src="/imgs/zgq_15.png">
		</div>
		<div class="introduce">
			<p>  在美国弗吉尼亚州阿灵顿县的兰森―布朗老年健身中心，你看到的不再是壮硕的年轻人，而是年过花甲的老年人。如今，健身并不是年轻人的专利，老人也加入这个行列了。</p>
			<p>  记者到达健身房时，正值中午12点。这本是大家吃饭的时间，但健身房里却依然热火朝天。记者透过宽大的落地玻璃看到，有10多名耄耋老人还在健身房里挥汗如雨、舒展筋骨。老头儿们在跑步机和脚踏车上做着机械运动;而另一个小房间里，老太太们则在一位女教练的带领下在垫子上练习瑜伽。</p>
			<p>  老年健身中心负责人贝尔纳黛特•奇塔姆女士告诉记者，来这里健身的老年人平均年龄可以达到80岁，每天上午11点到下午2点都是他们健身的“黄金时间”。考虑到老人行动不便，健身中心还特意准备了班车，定点到他们家附近的社区中心接送。</p>
			<p>  除了派车接送以方便老人外，这里的一些健身器械也与普通健身房有所不同。比如，部分器械从设计上就考虑到了老年人的生理需要，操作上更加简单。像老年人坐式健身车的座位就比普通坐式健身车要低一些，便于老年健身者使用。</p>
			<p>  当然，老人健身最重要的还是安全问题。奇塔姆介绍说，为了保证他们可以选择到最适合自己的锻炼方法，每位老年健身者第一次来这里，都要接受一项专门的体能测试，教练要查看他们的肌肉状况、技巧能力以及身体灵活度，然后为他们度身制订一个健身计划。</p>
			<p>  例如，有心血管疾病的老年人，教练可能会建议他们多在健身车上锻炼;经常腰酸背疼的老年人，教练可能建议他们多在仰卧起坐器械上运动;而患有骨质疏松和关节炎等疾病的老年人，教练则可能会建议他们在完成适量运动的同时，再选择些“柔和体操”，像瑜伽和太极拳等。</p>
			<p>  奇塔姆还说，健身中心聘用的教练都是曾经修过运动机能学课程，并具有学士或硕士以上学位的人，因此有相当的专业知识背景。健身计划开始进行后，教练会告知老人每种健身器械的作用和注意事项，并要求他们每次碰器械前先做些热身运动，以避免老年人盲目锻炼而造成身体损伤。</p>
		</div>

		<div class="review">
			<div class="line"></div>
			<div class="comment">评论专区</div>
			<div class="signin">
				<input type="text" name="">
				<button>登录并评论</button>
			</div>
			<div class="share">
				<a href="#" class="a1">分享</a>
				<a href="#" class="a2">评论</a>
			</div>
			<div class="line"></div>
			<div class="comment">所有评论</div>
			<div class="reply">
				<div>
					<div class="left">
						<a href="#">
							<img src="/imgs/zgq_1.png">
						</a>
					</div>
					<div class="right">
						<p>醉在花甲年</p>
						<p style="margin-top: 40px;">点个赞</p>
						<span>2017-09-23  12:23:34  举报  来自南周阅读器  Android  版</span>
					</div>
					<div class="reply1">
						<a href="#">回复</a>
					</div>
				</div>
				<div>
					<div class="left">
						<a href="#">
							<img src="/imgs/zgq_3.png">
						</a>
					</div>
					<div class="right">
						<p>枫叶情</p>
						<p style="margin-top: 40px;">文章还可以，公整简介</p>
						<span>2017-09-2  10:05:22  举报  来自南周阅读器  Android  版</span>
					</div>
					<div class="reply1">
						<a href="#">回复</a>
					</div>
				</div>
				<div>
					<div class="left">
						<a href="#">
							<img src="/imgs/zgq_2.png">
						</a>
					</div>
					<div class="right">
						<p>姜是老的辣</p>
						<p style="margin-top: 40px;">我觉得质量上去了，拿出实力证明给消费者看消费者会回来的</p>
						<span>2017-08-16  03:30:59  举报  来自南周阅读器  Android  版</span>
					</div>
					<div class="reply1">
						<a href="#">回复</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include layouts/footer %>