<% include layouts/header %>
	
	<!-- 引入外部css -->
	<link rel="stylesheet" href="/css/zhanglutiba04.css">

	<div class="zl_wrap">
		<div class="currentLocation">
			<span>您当前的位置&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;贴吧</span>
		</div>

		<div class="zl_banner">
			<div class="left">
				<img src="/imgs/zl_tiba04-2.png" alt="">
			</div>
			<div class="center">
				<p class="name">卢新老头头</p>
				<div class="obtainBox">
					<span></span>
					<span>1634[获取]</span>
				</div>
				<p class="medal">勋章:</p>
				<img class="firstImg" src="/imgs/lb_rank_start.png" alt=""><img src="/imgs/lb_rank_start.png" alt=""><img src="/imgs/lb_rank_start.png" alt="">
			</div>
			<div class="right">
				<a href="#">一键签到</a>
			</div>
		</div>

		<div class="myFocus">
			<h3>我的关注</h3>
		</div>

		<div class="myFocusSpecies">
			<div class="one">
				<a href="/postBar/jianshen/?tab=postBar">健康饮食</a>
			</div>
			<div class="two">
				<a href="/postBar/jianshen/?tab=postBar">运动健身</a>
			</div>
			<div class="three">
				<a href="/postBar/jianshen/?tab=postBar">新闻资讯</a>
			</div>
			<div class="foor">
				<a href="/postBar/jianshen/?tab=postBar">周边小报</a>
			</div>
		</div>

		<div class="seeMore">
			<a href="#">查看更多></a>
		</div>
		
		<div class="myFocus">
			<h3>热门贴吧</h3>
		</div>
		<div class="hotIt">
			<a href="/postBar/jianshen/?tab=postBar"><img src="/imgs/zl_tiba04-6.png" alt=""></a>
			<a href="/postBar/jianshen/?tab=postBar"><img src="/imgs/zl_tiba04-6.png" alt=""></a>
			<a href="/postBar/jianshen/?tab=postBar"><img src="/imgs/zl_tiba04-6.png" alt=""></a>
			<a href="/postBar/jianshen/?tab=postBar"><img class="lastimg" src="/imgs/zl_tiba04-6.png" alt=""></a>
		</div>
		
		<div class="myFocus">
			<h3>活动投票</h3>
		</div>
		<div class="eventVote">
			<div>
				<img src="/imgs/zl_tiba04-7.png" alt="">
				<p>太极比赛活动</p>
			</div>
			<div>
				<img src="/imgs/zl_tiba04-7.png" alt="">
				<p>时尚老达人活动</p>
			</div>
			<div>
				<img src="/imgs/zl_tiba04-7.png" alt="">
				<p>健身达人活动</p>
			</div>
		</div>

		<div class="myFocus">
			<h3>热门动态</h3>
		</div>

		<div id="content">
			<div class="top">
				<p class="shuzi"><a href="#">861</a></p>
				<span><a href="#">健康饮食吧</a></span><br>
				<p class="chisha">早晨适合吃啥</p>
				<p class="chisha">豆浆,油条,煎饼,还是包子呢?</p>
			</div>
			<div class="top_1">
				<!-- <p><a href="#">表演的这段怎么样</a></p> -->
				<div class="top_2">
					<ul>
						<li style="margin-left:0px;"><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
					</ul>
					<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="top">
				<p class="shuzi"><a href="#">861</a></p>
				<span><a href="#">健康饮食吧</a></span><br>
				<p class="chisha">早晨适合吃啥</p>
				<p class="chisha">豆浆,油条,煎饼,还是包子呢?</p>
			</div>
			<div class="top_1">
				<!-- <p><a href="#">表演的这段怎么样</a></p> -->
				<div class="top_2">
					<ul>
						<li style="margin-left:0px;"><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
					</ul>
					<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="top">
				<p class="shuzi"><a href="#">861</a></p>
				<span><a href="#">健康饮食吧</a></span><br>
				<p class="chisha">早晨适合吃啥</p>
				<p class="chisha">豆浆,油条,煎饼,还是包子呢?</p>
			</div>
			<div class="top_1">
				<!-- <p><a href="#">表演的这段怎么样</a></p> -->
				<div class="top_2">
					<ul>
						<li style="margin-left:0px;"><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
					</ul>
					<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="top">
				<p class="shuzi"><a href="#">861</a></p>
				<span><a href="#">健康饮食吧</a></span><br>
				<p class="chisha">早晨适合吃啥</p>
				<p class="chisha">豆浆,油条,煎饼,还是包子呢?</p>
			</div>
			<div class="top_1">
				<!-- <p><a href="#">表演的这段怎么样</a></p> -->
				<div class="top_2">
					<ul>
						<li style="margin-left:0px;"><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li><img src="/imgs/zhanglu_j2.png" alt=""></li>
					</ul>
					<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="top">
				<p class="shuzi"><a href="#">861</a></p>
				<span><a href="#">健康饮食吧</a></span><br>
				<p class="chisha">早晨适合吃啥</p>
				<p class="chisha">豆浆,油条,煎饼,还是包子呢?</p>
			</div>
			<div class="top_1">
				<!-- <p><a href="#">表演的这段怎么样</a></p> -->
				<div class="top_2">
					<ul>
						<li style="margin-left:0px;"><img src="/imgs/zhanglu_j2.png" alt=""></li>
						<li></li>
						<li></li>
					</ul>
					<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
				</div>
			</div>
		</div>

	</div>
	
<% include layouts/footer %>