<% include layouts/header %>
	
	<link rel="stylesheet" href="/css/zhanglu05.css">

	<div id="top-nav">
		<p>你当前的位置:学习</p><br>
		<div class="position">
			<a href="/postBar/self/?tab=postBar">
				<img src="/imgs/zhanglu_j.jpg" alt="">
			</a>
		</div>
		<div class="head-nav">
			<p>京剧吧</p>
			<div class="border">
				<span style="margin-right:10px;border: 1px solid #979797;"><a href="#">关注</a></span>
				<span style="background: #158FE1;"><a style="color:white;" href="#">签到</a></span>
			</div>
		</div>
		<div class="bottom-nav">
			<ul>
				<li style="	background: #158FE1;"><a href="#">看帖</a></li>
				<li><a href="#">图片</a></li>
				<li><a href="#">视频</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div class="top">
			<p><a href="#">861</a></p>
			<span><a href="#">京剧清风亭</a></span><br>
		</div>
		<div class="top_1">
			<p><a href="#">表演的这段怎么样</a></p>
			<div class="top_2">
				<ul>
					<li style="margin-left:0px;"><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
					<li><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
					<li><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
				</ul>
				<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="top">
			<p><a href="#">861</a></p>
			<span><a href="#">说说你更喜欢谁演的草船借箭</a></span><br>
		</div>
		<div class="top_1">
			<p><a href="#">由于说说诸葛亮你更喜欢谁演</a></p>
			<div class="top_2">
				<ul>
					<li style="margin-left:0px;"><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
					<li><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
					<li></li>
				</ul>
				<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="top">
			<p><a href="#">861</a></p>
			<span><a href="#">晚上有段演出</a></span><br>
		</div>
		<div class="top_1">
			<p><a href="#">演了几十年了,自己化妆</a></p>
			<div class="top_2">
				<ul>
					<li style="margin-left:0px;"><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
					<li></li>
					<li></li>
				</ul>
				<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="top">
			<p><a href="#">861</a></p>
			<span><a href="#">京剧清风亭</a></span><br>
		</div>
		<div class="top_1">
			<p><a href="#">表演的这段怎么样</a></p>
			<div class="top_2">
				<ul>
					<li style="margin-left:0px;"><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
					<li><img src="/imgs/zhanglu_j1.jpg" alt=""></li>
					<li></li>
				</ul>
				<p><a href="#">老李头头&nbsp;  &nbsp; 4分钟之前</a></p>
			</div>
		</div>
	</div><br><br><br>

<% include layouts/footer %>