*{
	margin:0;
	padding: 0;
	list-style:none;
}
#top-nav{
	width:1100px;
	min-height:318px;
	margin:0 auto;
	/*border:2px solid #979797;*/
	/*position:relative;*/
}
#top-nav>p{
	font-size: 24px;
	color: #383838;
	margin-top:15px;
}
#top-nav>ul>li{
	width:260px;
	height:245px;
	/*border:1px solid red;*/
	float:left;
	margin-left:17px;
	
}
#top-nav>ul>.box{
	box-shadow:0 0 10px #9D9B97 ;
}
#top-nav>ul>li>img{
	width:260px;
	height:140px;
	/*margin-left:10px;*/
}
#top-nav>ul>li>p{
	font-size: 20px;
	color: #000000;	
	margin-top:10px;
	margin-left:10px;
}
#top-nav>ul>li>span{
	font-family:PingFangSC-Regular;
	font-size: 16px;
	color: #000000;
	margin-top:5px;
	line-height:20px;
	display:block;
	margin-left:10px;
}