 /*头部登录 帮助 开始 */
.header-login{
	width:1100px;
	height:52px;
	margin:0 auto;	
}
.Welcome{
	width:180px;
	float:left;
}
.Welcome span{
	font-size: 20px;
	color: #393939;
	line-height:40px;
} 
.login-help{
	width:260px;
	height:52px;
	float:right;
}
.login-help a{
	display:inline-block;
	width:120px;
	height:52px;
	text-align:center;
	line-height:52px;
	text-decoration:none;
}
.login-help a.login{
	background: #158FE1;
	float:left;
	font-size: 20px;
	color: #FFFFFF;
}
.login-help a.help{
	background: #fff;
	border: 1px solid #DBDBDB;
	float:right;
	font-size: 20px;
	color: #777777;
}

/*已登录头部*/
.login-help-Success{
	height:52px;
	float:right;
	display:block;
}
.login-help-Success a{
	display:inline-block;
	text-align:center;
	line-height:52px;
	text-decoration:none;
}
.login-help-Success a.login-success{
	float:left;
	font-size: 16px;
	color: #777777;
}
.login-help-Success a.login-success img{
	width:49px;
	height:49px;
	float:left;
	margin-right:10px;
}
.login-help-Success a.login-success span{
	margin-right:20px;
}
.login-help-Success a.help{
	width:120px;
	height:52px;
	background: #fff;
	border: 1px solid #DBDBDB;
	float:right;
	font-size: 20px;
	color: #777777;
}


/* 头部登录 帮助 结束 */

/* 头部logo 搜索框 开始 */
.header-logo-search{
	width:1100px;
	height:93px;
	margin:0 auto;
}
.logo{
	float:left;
	margin-top:6px;
}
.search{
	float:right;
	width:606px;
	height:100%;
}
.search-input{
	float:left;
}
.search-input input{
	width:476px;
	height:66px;
	border: 1px solid #979797;
	margin-top:13.5px;
	font-size:20px;
}
.search-btn{
	float:left;
	width:130px;
	height:66px;
	background: #158FE1;
	margin-top:13.5px;
}
.search-btn a{
	display:block;
	font-size: 36px;
	color: #FFFFFF;
	text-align:center;
	line-height:66px;
	text-decoration:none;
}
/* 头部logo 搜索框 结束 */

/* 头部导航 开始 */
.nav{
	width:1100px;
	height:50px;
	margin:0 auto;
	margin-top:20px;
}
.nav ul li{
	float:left;
	padding:0 45px;
	line-height:50px;
}
.nav ul li:first-child{
	padding-left:10px;	
}
.nav ul li:last-child{
	padding-right:0;
}
.nav ul li a{
	font-size: 36px;
	color: #000000;
	text-decoration:none;
}
.nav .active a{
	color: #158FE1;
	border-bottom:2px solid #158FE1;
}
/* 头部导航 结束 */

/* 弹出 登录框 开始 */
/*遮罩层*/
#login-wrap{
	width:100%;
	height:100%;
	background:rgba(217,217,217,0.6);
	display:none;
	position:fixed;
	top:0;
	left:0;

	/* 层级一定要是最大的！ */
	z-index:9999;
}
/*登录框*/
#login-pop{
	width:580px;    /*672*/
	height:430px;  /*537*/
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-290px;
	margin-top:-215px;

	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 5px;
}
#login-pop #close{
	width:30px;
	height:30px;
	position:absolute;
	right:0;
	top:0;
	display:none;
}
/* 快捷登录 */
.quick-Login{
	width:425px;
	height:17px;
	margin:0 auto;
}
.quick-Login>div{
	float:right;
	margin-top:50px;
}
.quick-Login>div>img{
	float:left;
	margin-right:5px;
	width:15px;
	height:18px;
}
.quick-Login>div>a{
	text-decoration:none;
	font-size: 12px;
	color: #000000;
}
#formName{
	clear:both;
	width:425px;
	height:380px;
	margin:0 auto;
	/*background:pink;*/
	overflow:hidden;
}
#formName>#uname,#formName>#pwd{
	width:100%;
	height:52px;
	margin-top:15px;
	font-size:18px;
	border: 1px solid #979797;
	border-radius: 5px;
	outline:none;
	padding-left:35px;
	background:url('/imgs/zpf_uname.png') no-repeat;
	background-position:7px 10px;
}
#formName>#pwd{
	background:url('/imgs/zpf_pwd.png') no-repeat;
	background-position:8px 13px;
	margin-top:30px;
}
.autoLogin{
	float:left;
	margin-top:13px;
	font-size: 12px;
	color: #3E3E3E;
}
.autoLogin>#chkBox{
	float:left;
	margin-top:0px;
}

.loginProblem{
	float:right;
	margin-top:13px;
	font-size: 12px;
	color: #000000;
}
.loginProblem>a{
	text-decoration:none;
}
#btn_login{
	clear:both;
	width:425px;
	height:66px;
	background: #3A86EF;
	border-radius: 8px;
	margin-top:20px;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing:3px
}
.signUp{
	float:right;
	margin-top:15px;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
}
/*登录提示*/
.loginPrompt{
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	border:1px solid #FACCC6;
	background:#FFEBEB;
	color:#E4393C;
	padding-left:20px;
	font-size:12px;
	margin-top:10px;
	display:none;
}
/* 弹出 登录框 结束 

/* 注册 弹出框  开始*/
#reg-wrap{
	width:100%;
	height:100%;
	background:rgba(217,217,217,0.6);
	display:none;
	position:fixed;
	top:0;
	left:0;

	/* 层级一定要是最大的！ */
	z-index:9999;
}
/*弹出框*/
#reg-pop{
	width:580px;    /*672*/
	height:530px;  /*537*/
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-290px;
	margin-top:-265px;

	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 5px;
}
#formName_reg{
	clear:both;
	width:425px;
	height:450px;
	margin:0 auto;
	/*background:pink;*/
	overflow:hidden;
}
#formName_reg div{
	width:100%;
	height:52px;
	margin-top:15px;
}
#formName_reg div label{
	width:55px;
	height:52px;
	line-height:52px;
	text-align:right;
	font-size: 18px;
	color: #3E3E3E;
	margin-right:10px;
}
#formName_reg div input{
	width:355px;
	height:52px;
	font-size:20px;
	border: 1px solid #979797;
	border-radius: 5px;
	outline:none;
}
.userAgreement-wrap{
	display:block;
	margin-top:15px;
	margin-left:20px;
}
#chkBox_reg{
	float:left;
	margin-top:0px;
	margin-right:5px;
}
.userAgreement{
	float:left;
	font-size: 12px;
	color: #3E3E3E;
}
#btn_reg{
	clear:both;
	width:425px;
	height:66px;
	line-height:66px;
	background: #3A86EF;
	border-radius: 8px;
	margin-top:25px;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing:3px;
	outline:none;
}
/*注册提示*/
.loginPrompt-reg{
	display:none;
	width:100%;
	height:30px;
	line-height:30px;
	border:1px solid #FACCC6;
	background:#FFEBEB;
	color:#E4393C;
	padding-left:20px;
	font-size:12px;
	margin-top:10px;
	/*display:none;*/
}

/*验证码*/
#formName_reg #yzm-wrap{
	position:relative;
}
#formName_reg div .code_pic{
	display: block;
	width:85px;
	height:51px;
	line-height:51px;
	background-color: #34495e;
	color:#FFF;
	position:absolute;
	z-index:99;
	right:0;
	top:1px;
	text-align: center;
	font-size:20px;
	cursor:pointer;
	-webkit-user-select:none;
	border-radius:5px;
}

/* 注册 弹出框 结束 */
