* { margin:0; padding:0; }
		html { font-family:PingFangSC-Regula; font-size:24px; }
		a { text-decoration:none; }
		li { list-style:none; }
		img { display:block; }
		.main { width:1100px; margin:0 auto; height:auto; }
		.left { float:left; }
		.right { float:right; }
		.clear { overflow:hidden; }
		input { outline:none; border:none; width:410px; height:36px; border: 1px solid #979797; }
		/*公共样式*/
		.gg_tit { margin-bottom:50px; position:relative; height:47px; }
		 .gg_name { background:#fff; width:200px; font-size:36px; color:#383838; text-align:center; position:absolute; top:0; left:50%; margin-left:-50px; z-index:1; }
		 .gg_line{  position:absolute; top:25px; width:100%; background: #F0F0F0; height:5px; }
		/*站点样式*/
		.adbar { margin-bottom:45px; margin-top:30px;  }

		/*顶部banner*/
		.huodong_img1 { widows:100%; height:370px; margin-bottom:70px; }
		.huodong_img1 img { widows:1100px; height:370px; background:green;  }
		/*推荐参与样式*/
		.ht_tj_img { margin-bottom:80px; }
		.ht_tj_img img { width:340px; height:180px; background:green;  float:left; }
		.ht_tj_img img+img { margin-left:40px; }
		/*热门活动*/
		/*左侧*/
		.hot_hd_left_zu { width:750px; margin-bottom:20px; }
		.hot_hd_left_zu img { width:750px; height:270px; background:green; }
		.hot_hd_left_zu p { margin-bottom:10px; }
		/*右侧*/
		.hot_hd_right { width:290px; }
		.hot_hd_right div:first-child { height:305px; background: #F0F0F0; margin-bottom:20px; }
		.hot_hd_right div:first-child p { height:58px; background: #158FE1; text-align:center; color: #fff; line-height: 58px; }
		.hot_hd_right div:nth-child(2) p { margin-bottom:20px; }
		.hot_hd_right div:nth-child(2) p span { margin-right:10px; color:#FF5A6E;  font-weight:bold; }
		.hot_hd_right div:nth-child(2) ul { background: #F0F0F0; padding:10px 0 10px 10px;  }
		.hot_hd_right div:nth-child(2) ul li { margin-right:10px; float:left; width:130px; }
		.hot_hd_right div:nth-child(2) ul li img { width:130px; height:130px; background:green; }
		.hot_hd_right div:nth-child(2) ul li a span { font-size:16px; color:#000; }
		.look_more { width:290px; font-size:26px; line-height:52px; height:52px; text-align:center; color:#fff; background: #158FE1; }
		/*加载更多样式*/
		.get_more { height:60px; line-height:60px; text-align:center; font-size:36px; background:#F0F0F0; margin-bottom: 30px; margin-top:50px;  }
		.get_more a { color:#000; }