.zCenter{
	width: 616px;
	height: 500px;
	float: left;
	margin-left: 24px;
	position: relative;
}
ul{
	padding:0;
	margin:0;
	list-style: none;
}
/*选项卡开始*/
.Opttab{
	width: 100%;
	height: 34px;
	clear: left;
	line-height: 34px;
}
.Opttab ul li{
	float: left;
	font-size: 24px;
	margin-right: 30px;
}
.Opttab ul li a{
	color: #3E3E3E;
}
.Opttab ul li .xuan{
	color: #158FE1;
}
/*选项卡结束*/
/*回复我的开始*/
.ReplyMe{
	width: 100%;
	height: 300px;
	position: absolute;
	display: none;
}
.xainshi{
	display: block;
}
/*没有回复开始*/
.NoReply{
	width: 300px;
	height: 70px;
	margin:0 auto;
	margin-top: 70px;
	font-size: 24px;
	color: #000000;
	text-align: center;
}
.NoReplya{
	width: 300px;
	height: 30px;
	margin:0 auto;
	margin-top: 70px;
	font-size: 24px;
	color: #000000;
	text-align: center;
}
.btnq{
	margin-top:18px;
	text-align: center;
}
.btnq button{
	font-size: 16px;
	background: #158FE1;
	padding:1px 30px;
	outline: none;
	border:none;
	border-radius: 10px;
}
.btnq button a{
	color:#fff;
}
/*没有回复结束*/
/*有回复了开始*/
.YesReply{
	width: 100%;
	height: 400px;
	overflow: hidden;
	display: none;
}
/*提到我的开始*/
.Mention{
	width: 100%;
	height: auto;
}
.Mention p{
	margin-top: 18px;
	font-size: 22px;
	color: #3E3E3E;
}
.quanbuk{
	width: 100%;
	height: 2px;
	background: #F0F0F0;
	margin-top: 10px;
}
.task{
	width: 100%;
	height: 140px;
	margin-top: 20px;
}
.character{
	width: 100%;
	height: 58px;
	clear: both;
}
.character-img{
	width: 58px;
	height: 58px;
	margin-left: 20px;
	float: left;
}
.character-img img{
	width: 100%;
	height: 100%;
}
.shangxia{
	width: 120px;
	height: 100%;
	margin-left: 10px;
	float: left;
}
.shangxia p{
	font-size: 24px;
color: #3E3E3E;
}
.shangxia span{
font-size: 18px;
color: #3E3E3E;
}
.riqi{
	width: 140px;
	height: 100%;
	line-height: 58px;
	float: right;
	font-size: 18px;
color: #3E3E3E;
	text-align: right;
}
.redian{
	width: 100%;
	height: 28px;
	margin-top: 10px;
}
.tianai{
	margin-left: 170px;
	font-size: 20px;
color: #393939;
}
.hsj{
	margin-left: 280px;
	font-size: 20px;
}
.hsj a{
	color: #393939;
}
.aitet{
	width: 100%;
	height: 25px;
	margin-top: 20px;
}
.aitet p{
	font-size: 18px;
color: #545454;
margin-left: 20px;
}
/*提到我的结束*/
/*有回复了结束*/
/*回复我的结束*/
/*我收藏的开始*/
.PostTie{
	width: 100%;
	height: auto;
	display: none;
}
.biaoti{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}
.biaoti span{
	font-size: 22px;
color: #3E3E3E;
}
.left{
	margin-left: 350px;
}
.zhuangtai{
	margin-left: 69px;
}
.xianz{
	background: #F0F0F0;
	width: 100%;
	height: 2px;
}
.jichejiqiao{
	width: 100%;
	height: 88px;
	line-height: 88px;
	font-size: 20px;
color: #393939;
}
.zuo{
	margin-left: 230px;
}
.zuobia{
	margin-left: 50px;
}
/*我收藏的结束*/